In [1]:
text = "Hello, Welcome to the world of programming!"

# Find the index of 'e' in the word 'Hello'
hello_e_index = text.find("Hello") + "Hello".find("e")

# Find the index of 'e' in the word 'Welcome'
welcome_e_index = text.find("Welcome") + "Welcome".find("e")

# Add the indices of 'e' in 'Hello' and 'Welcome'
index = hello_e_index + welcome_e_index

# Find the character at the specified index
character = text[index]

print(character)

l

In [2]:
hello_e_index = text.find("Hello") + "Hello".find("e")
print(hello_e_index)
welcome_e_index = text.find("Welcome") + "Welcome".find("e")
print(welcome_e_index)
hello_e_index = text.find("Hello") + "Hello".find("e")
print(hello_e_index)
index = hello_e_index + welcome_e_index
print(index)
character = text[index]
print(character)

1
8
1
9
l

In [3]:
vowels = "aeiouAEIOU"

user_input = input("Enter a string: ")

count = 0
for char in user_input:
    if char in vowels:
        count += 1

print("Number of vowels in the string:", count)

Enter a string: aeiud
Number of vowels in the string: 4

In [4]:
user_input = int(input("Enter a year: "))

if user_input % 4 == 0 and (user_input % 100 != 0 or user_input % 400 == 0):
    print(user_input, "is a leap year.")
else:
    print(user_input, "is not a leap year.")

Enter a year: 2012
2012 is a leap year.

In [6]:
for num in range(100, 500):
    temp = num #153
    sum = 0
    while temp > 0:
        digit = temp % 10 #3 #5 #1
        sum += digit ** 3 #27 #125 #1
        temp //= 10 #15 #1 #0
    if num == sum:
        print(num)

153
370
371
407

In [7]:
import string

user_input = input("Enter a string containing punctuation marks: ")

punctuation_marks = string.punctuation

output = ""
for char in user_input:
    if char not in punctuation_marks:
        output += char

print("String after removing punctuation marks:", output)

Enter a string containing punctuation marks: hel0!@#$%$^&*(
String after removing punctuation marks: hel0

In [8]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

num1, num2 = num2, num1

print("The first number is now:", num1)
print("The second number is now:", num2)

Enter the first number: 23
Enter the second number: 45
The first number is now: 45
The second number is now: 23

In [9]:
a = 10
b = "15"

product = a * int(b)

print("The product of", a, "and", b, "is", product)

The product of 10 and 15 is 150

In [10]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is an even number")
else:
    print(num, "is an odd number")

Enter a number: 45
45 is an odd number

In [13]:
num = int(input("Enter a number: "))

if num % 9 == 0 and num % 6 == 0:
    print(num, "is divisible by 9 and a multiple of 6")
else:
    print(num, "is not divisible by 9 and a multiple of 6")

Enter a number: 540
540 is divisible by 9 and a multiple of 6

In [15]:
sum = 0
count = 0

while count < 5:
    num = int(input("Enter a number: "))
    sum += num
    count += 1

average = sum / 5

print("The average of the numbers is:", average)

Enter a number: 1
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
The average of the numbers is: 3.8

In [16]:
sum = 0
for i in range(5):
    num = int(input("Enter a number: "))
    sum += num
average = sum / 5
print("The average of the numbers is:", average)

Enter a number: 33
Enter a number: 2
Enter a number: 3
Enter a number: 2
Enter a number: 3
The average of the numbers is: 8.6

In [21]:
def fetch_uppercase_words(name_list):
    uppercase_words = []
    for name in name_list:
        for word in name.split():
            if word[0].isupper():
                uppercase_words.append(word)
    return uppercase_words

names_list = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']
uppercase_words = fetch_uppercase_words(names_list)
print(uppercase_words)

['Maria', 'Hello', 'World', 'Merry', 'You']

In [22]:
def fetch_uppercase_words(name_list):
    return [word for name in name_list for word in name.split() if word[0].isupper()]

names_list = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']
uppercase_words = fetch_uppercase_words(names_list)
print(uppercase_words)

['Maria', 'Hello', 'World', 'Merry', 'You']

In [23]:
def get_years(date_list):
    years = []
    for date in date_list:
        year = date.split("-")[-1]
        years.append(year)
    return years

date_list = ["15-01-2022", "25-12-2021", "01-11-2020", "31-03-2021"]
years = get_years(date_list)
print(years)

['2022', '2021', '2020', '2021']

In [24]:
def list_to_dict(candidate_list):
    candidate_dict = {}
    for candidate in candidate_list:
        name, age = candidate.split(" ")
        candidate_dict[name] = age
    return candidate_dict

candidate_list = ["John 25", "Mary 22", "Kevin 29", "Emily 20", "David 27"]
candidate_dict = list_to_dict(candidate_list)
print(candidate_dict)

{'John': '25', 'Mary': '22', 'Kevin': '29', 'Emily': '20', 'David': '27'}

In [25]:
def list_to_dict(candidate_list):
    return {name:age for candidate in candidate_list for name,age in [candidate.split(" ")]}

candidate_list = ["John 25", "Mary 22", "Kevin 29", "Emily 20", "David 27"]
candidate_dict = list_to_dict(candidate_list)
print(candidate_dict)

{'John': '25', 'Mary': '22', 'Kevin': '29', 'Emily': '20', 'David': '27'}

In [26]:
lst = [26,'John',34,'Mary',13,'Steven',24,'Ronald',65,'Donald']

d={}    # Creating an empty dictionary
for i in range(0,len(lst),2):     # Iterating a loop such that value of i will be a difference of 2. i.e i = 0,2,4,6,8
    d[lst[i+1]] = lst[i]      # lst[i] will give all the elements at indices 0,2,4,6,8. 
                              # lst[i+1] will give all the elements at indices 1,3,5,7,9.

print(d)

{'John': 26, 'Mary': 34, 'Steven': 13, 'Ronald': 24, 'Donald': 65}

In [27]:
quote = "God made man man made money money made man mad"

# Split the quote into words
words = quote.split()

# Create an empty list to store the unique words
unique_words = []

# Iterate through the words
for word in words:
    # Check if the word is not already in the unique_words list
    if word not in unique_words:
        # If not, add it to the list
        unique_words.append(word)

# Join the unique words with a space and print the result
print(" ".join(unique_words))

God made man money mad

In [300]:
# Function to sort the elements of a list according to the first letter, regardless of case
def sort_list_by_first_letter(lst):
    # Convert all elements of the list to lowercase
    lst = [i.lower() for i in lst]
    # Iterate through the list
    for i in range(len(lst)):
        for j in range(i, len(lst)):
            # Compare the first letter of each element
            if lst[i][0] > lst[j][0]:
                # Swap the elements if the first letter of the first element is greater than the second element
                lst[i], lst[j] = lst[j], lst[i]
    return lst

# Test the function
list_to_sort =  ['python', 'R', 'Java', 'scala', 'C', 'C++']
print(sort_list_by_first_letter(list_to_sort))

['c', 'c++', 'java', 'python', 'r', 'scala']

In [301]:
languages = ['python', 'R', 'Java', 'scala', 'C', 'C++']
s = ' '
for i in range(len(languages)):      # Iterating through the list
    for j in range(i+1, len(languages)):      # Iterating through the same list but with indices i+1
        if(languages[i][0].lower() > languages[j][0].lower()):    # Comparing the first characters of the words at index i and i+1. 
            languages[i], languages[j] = languages[j], languages[i]     # Swapping the words position if the above condition is met.

print(languages)

['C', 'C++', 'Java', 'python', 'R', 'scala']

In [302]:
# Create a dictionary with 4 keys and values
original_dict = {'Hello':22,'World':14, 'Welcome':10, 'Back':3}

# Create an empty dictionary to store the swapped key-value pairs
swapped_dict = {}

# Iterate over the original dictionary
for key, value in original_dict.items():
    # Add the key-value pair to the new dictionary with the key and value swapped
    swapped_dict[value] = key

print(swapped_dict)

{22: 'Hello', 14: 'World', 10: 'Welcome', 3: 'Back'}

In [37]:
matrix = [[1, 2, 3], [3, 4, 5], [5, 6, 8], [7, 8, 9]]

transposed_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

print(transposed_matrix)

[[1, 3, 5, 7], [2, 4, 6, 8], [3, 5, 8, 9]]

In [42]:
functions = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'Squareroot': lambda x: x**(1/2),
    'Multiply by 3': lambda x: x*3
}

input_value = int(input("Enter a number: "))
output_sum = 0

for key, value in functions.items():
    output = value(input_value)
    output_sum += output
    print(f"{key} of {input_value} is {output}")

print(f"Sum of all functions is {output_sum}")

Enter a number: 2
Square of 2 is 4
Cube of 2 is 8
Squareroot of 2 is 1.4142135623730951
Multiply by 3 of 2 is 6
Sum of all functions is 19.414213562373096

In [43]:
arr = ["php", "w3r", "python", "aaa", "java"]
list( filter( lambda x: (x =="".join( reversed(x))), arr))

['php', 'aaa']

In [5]:
arr = ["php", "w3r", "python", "aaa", "java"]
result = [x for x in arr if x == x[::-1]]
result

['php', 'aaa']

In [47]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [48]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [49]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [50]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

[]

In [6]:
from functools import reduce 
integers = [4, 6, 3, 9, 2, 8, 12]
names =['scaler', 'interviewbit','rishabh','student','course']
numbers = [4,6,9,23,5]
def func(integers, names, numbers):
    '''
    input:
    integers -> list of integers to perform the square operation on
    names -> list of names to filter out as per the condition
    numbers -> list of numbers whose product we want
    
    output:
    map_result -> output of integers list
    filter_result -> output of the names lsit
    reduce_result -> output of the numbers list
    '''
   
    # Use map() to return the list of the squares of each number
    squares = list(map(lambda x: x**2, integers))
    # Use filter() to return the list with only those names that have less than or equal to seven letters
    short_names = list(filter(lambda x: len(x) <= 7, names))
    # Use reduce() to return the product of elements of list numbers
    product = reduce(lambda x, y: x*y, numbers)
    
    return squares, short_names, product

In [7]:
result = func(integers, names, numbers)
print(result)

([16, 36, 9, 81, 4, 64, 144], ['scaler', 'rishabh', 'student', 'course'], 24840)

In [70]:
squares, short_names, product = func(integers, names, numbers)
print(squares)
print(short_names)
print(product)

[16, 36, 9, 81, 4, 64, 144]
['scaler', 'rishabh', 'student', 'course']
24840

In [72]:
from functools import reduce
numbers = [4, 6, 3, 9, 2, 8, 12]
result = reduce(lambda x, y: x if x > y else y, numbers)
print(result)  # Output: 12

12

In [73]:
from functools import reduce
numbers = [4, 6, 3, 9, 2, 8, 12]
result = reduce(lambda x, y: x + y, numbers)
print(result)  # Output: 42

44

In [74]:
from functools import reduce
words = ["Hello", "world", "!"]
result = reduce(lambda x, y: x + " " + y, words)
print(result)  # Output: "Hello world !"

Hello world !

In [75]:
from functools import reduce
numbers = [4, 6, 3, 9, 4, 8, 12, 4]
result = reduce(lambda x, y: x + 1 if y == 4 else x, numbers, 0)
print(result)  # Output: 3

3

In [76]:
numbers = [4, 6, 3, 9, 2, 8, 12]
result = list(filter(lambda x: x % 2 == 0, numbers))
print(result)  # Output: [4, 6, 2, 8, 12]

[4, 6, 2, 8, 12]

In [77]:
names = ["John", "Bob", "Sophie", "Emily", "Michael"]
result = list(filter(lambda x: len(x) > 5, names))
print(result)  # Output: ["Sophie", "Emily", "Michael"]

['Sophie', 'Michael']

In [78]:
words = ["Hello", "world", "apple", "banana", "cat"]
result = list(filter(lambda x: x.startswith("a"), words))
print(result)  # Output: ["apple"]

['apple']

In [79]:
data = [{"name": "John", "age": 30}, {"name": "Bob", "age": 25}, {"name": "Sophie", "age": 35}]
result = list(filter(lambda x: x["age"] > 30, data))
print(result)  # Output: [{"name": "Sophie", "age": 35}]

[{'name': 'Sophie', 'age': 35}]

In [80]:
numbers = [-5, 2, -8, 0, 4, -3, 9]
result = list(filter(lambda x: x >= 0, numbers))
print(result)  # Output: [2, 0, 4, 9]

[2, 0, 4, 9]

In [308]:
words = ["Hello", "world", "Apple", "Banana", "cat"]
result = list(filter(lambda x: 'a' in x.lower(), words))
print(result)  # Output: ["world", "Apple", "Banana"]

['Apple', 'Banana', 'cat']

In [82]:
data = [{"name": "John", "age": 30, "gender":"male"}, 
        {"name": "Bob", "age": 25, "gender":"male"}, 
        {"name": "Sophie", "age": 35, "gender":"female"}]
result = list(filter(lambda x: x["gender"] == "male", data))
print(result)  # Output: [{"name": "John", "age": 30, "gender":"male"}, {"name": "Bob", "age": 25, "gender":"male"}]

[{'name': 'John', 'age': 30, 'gender': 'male'}, {'name': 'Bob', 'age': 25, 'gender': 'male'}]

In [83]:
data = [(1,2,3), (4,5,6), (7,8,9), (10,11,12)]
result = list(filter(lambda x: x[0]%2 == 0, data))
print(result)  # Output: [(4,5,6), (10,11,12)]

[(4, 5, 6), (10, 11, 12)]

In [85]:
square = lambda x: x**2
print(square(5))  # Output: 25

25

In [86]:
concat = lambda x, y: x + y
print(concat("Hello", "world"))  # Output: "Helloworld"

Helloworld

In [87]:
greater = lambda x, y: x if x > y else y
print(greater(5, 10))  # Output: 10

10

In [88]:
length = lambda x: len(x)
print(length("Hello world!"))  # Output: 12

12

In [89]:
is_even = lambda x: x % 2 == 0
print(is_even(4))  # Output: True

True

In [90]:
to_upper = lambda x: x.upper()
print(to_upper("hello world"))  # Output: "HELLO WORLD"

HELLO WORLD

In [9]:
data = {"name": "John", "age": 30}
get_value = lambda x, key: x[key]
print(get_value(data, "name")) # Output: "John"

John

In [8]:
store = {"apple": {"price": 0.5, "quantity": 10}, "banana": {"price": 0.25, "quantity": 20}}
get_price = lambda x, item: x[item]["price"]
print(get_price(store, "banana")) # Output: 0.25

0.25

In [13]:
get_value = lambda x, key: x.get(key)
data = {"name": "John", "age": 30}
print(get_value(data,'age'))

30

In [16]:
data = ["apple", "banana", "cherry"]
get_element = lambda x, index: x[index] 
print(get_element(data, 1)) # Output: "banana"

banana

In [17]:
data = ["apple", "banana", "cherry"]
get_element = lambda x, index: x[index] 
print(get_element(data, 2)) # Output: "banana"

cherry

In [92]:
double = lambda x: x*2
print(double(5))  # Output: 10

10

In [93]:
half = lambda x: x/2
print(half(10))  # Output: 5.0

5.0

In [94]:
absolute = lambda x: abs(x)
print(absolute(-5))  # Output: 5

5

In [95]:
first_letter = lambda x: x[0]
print(first_letter("Hello"))  # Output: "H"

H

In [97]:
import math
square_root = lambda x : math.sqrt(x)
print(square_root(16)) # Output: 4.0

4.0

In [98]:
last_element = lambda x: x[-1]
print(last_element([1,2,3,4,5]))  # Output: 5

5

In [101]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(10)) # Output: 55

55

In [102]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("racecar")) # Output: True
print(is_palindrome("hello")) # Output: False

True
False

In [10]:
def is_palindrome(s):
    s=s[::-1] #=
    return s
print(is_palindrome('farheen'))

neehraf

In [103]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello")) # Output: "olleh"

olleh

In [104]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        a, b = b, a + b
    return a

print(fibonacci(10)) # Output: 55

55

In [105]:
def fibonacci(n):
    a, b = 0, 1
    i = 0
    while i < n:
        a, b = b, a + b
        i += 1
    return a

print(fibonacci(10)) # Output: 55

55

In [19]:
def sum_of_digits(n):
    total = 0
    for char in str(n):
        total += int(char)
    return total

print(sum_of_digits(1234)) # Output: 10 (1 + 2 + 3 + 4)

10

In [107]:
def sum_of_digits(n):
    total = 0
    while n > 0:
        total += n % 10
        n = n // 10
    return total

print(sum_of_digits(1234)) # Output: 10 (1 + 2 + 3 + 4)

10

In [108]:
def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return (n % 10) + sum_of_digits(n // 10)

print(sum_of_digits(1234)) # Output: 10 (1 + 2 + 3 + 4)

10

In [309]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [310]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [311]:
while True:
    user_input = input("Enter a number: ")
    if user_input == "q":
        break
    else:
        number = int(user_input)
        print("You entered:", number)

Enter a number: 2
You entered: 2
Enter a number: 3
You entered: 3
Enter a number: 4
You entered: 4
Enter a number: q

In [312]:
words = ["cat", "dog", "bird"]
for word in words:
    print("The length of '{}' is {}.".format(word, len(word)))

The length of 'cat' is 3.
The length of 'dog' is 3.
The length of 'bird' is 4.

In [313]:
prices = [1.23, 6.98, 8.43, 2.45]
total = 0
for price in prices:
    total += price
average = total / len(prices)
print("The average price is:", average)

The average price is: 4.7725

In [314]:
n = 10
while n >= 0:
    print(n)
    n -= 1
print("blastoff!")

10
9
8
7
6
5
4
3
2
1
0
blastoff!

In [315]:
n = 5
result = 1
while n > 0:
    result *= n
    n -= 1
print("The factorial of 5 is:", result)

The factorial of 5 is: 120

In [316]:
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [317]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [318]:
found = False
numbers = [1, 2, 3, 4, 5]
search = 3

while not found:
    for number in numbers:
        if number == search:
            print(search, "is in the list.")
            found = True
            break
    if not found:
        print(search, "is not in the list.")

3 is in the list.

In [320]:
number = 5
factorial = 1
for i in range(1, number + 1):
    factorial *= i
print("The factorial of", number, "is", factorial)

The factorial of 5 is 120

calculate the Fibonacci series of a given number:

In [321]:
n = 10
first = 0
second = 1
print(first, second, end=" ")
for i in range(2, n):
    next_term = first + second
    print(next_term, end=" ")
    first = second
    second = next_term

0 1 1 2 3 5 8 13 21 34

In [322]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i*j, end='\t')
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [323]:
start = 1
end = 1000
for num in range(start, end + 1):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        print("The first Armstrong number is: ", num)
        break

The first Armstrong number is:  1

In [324]:
start = 2 #print out the prime numbers in a given range:
end = 20
for num in range(start, end + 1):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19

In [325]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
largest = numbers[0]  #find the largest and smallest number in a list:
smallest = numbers[0]
for number in numbers:
    if number > largest:
        largest = number
    if number < smallest:
        smallest = number
print("Largest number is:", largest)
print("Smallest number is:", smallest)

Largest number is: 10
Smallest number is: 1

In [326]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = []
for i in list1:
    for j in list2:
        if i == j:
            common.append(i)
print("Common elements:", common)

Common elements: [4, 5]

In [327]:
num = 121
temp = num
rev = 0
while temp != 0:
    rev = (rev * 10) + (temp % 10)
    temp = temp // 10
if num == rev:
    print(num, "is a palindrome")
else:
    print(num, "is not a palindrome")

121 is a palindrome

In [328]:
start = 1
end = 10
even_sum = 0
for i in range(start, end+1):
    if i % 2 == 0:
        even_sum += i
print("Sum of even numbers in the range", start, "to", end, "is:", even_sum)

Sum of even numbers in the range 1 to 10 is: 30

In [331]:
string1 = "hello"
string2 = "world"
common_letters = []
for letter in string1:
    if letter in string2:
        common_letters.append(letter)
print("Common letters between '" + string1 + "' and '" + string2 + "' are: " + ', '.join(set(common_letters)))

Common letters between 'hello' and 'world' are: l, o

In [332]:
num1 = 60
num2 = 48
while(num2):
    num1, num2 = num2, num1 % num2
print("GCD of 60 and 48 is : ", num1)

GCD of 60 and 48 is :  12

In [333]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum = 0
for row in matrix:
    for element in row:
        sum += element
print("Sum of all elements in the matrix is:", sum)

Sum of all elements in the matrix is: 45

In [334]:
lst = [1,2,3,4,5,6]
flag = True
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] == lst[j]:
            flag = False
            break
    if not flag:
        break
if flag:
    print("All elements in the list are unique")
else:
    print("All elements in the list are not unique")

All elements in the list are unique

In [335]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
highest = max(numbers)
numbers.remove(highest)
second_highest = max(numbers)
print("Second highest number is:", second_highest)

Second highest number is: 8

In [336]:
num = 24
i = 1
print("Factors of", num, "are:")
while i <= num:
    if (num % i) == 0:
        print(i)
    i += 1

Factors of 24 are:
1
2
3
4
6
8
12
24

In [337]:
number = 12345
sum = 0
for digit in str(number):
    sum += int(digit)
print("Sum of digits of the number", number, "is:", sum)

Sum of digits of the number 12345 is: 15

In [338]:
numbers = [5, 2, 9, 1, 5, 6]
unique_numbers = list(set(numbers))
unique_numbers.sort()
print("Second smallest number is:", unique_numbers[1])

Second smallest number is: 2

In [339]:
string = "hello world"
char_freq = {}
for char in string:
    char_freq[char] = char_freq.get(char, 0) + 1
print("Frequency of characters in the string:")
for char, freq in char_freq.items():
    print(char, ":", freq)

Frequency of characters in the string:
h : 1
e : 1
l : 3
o : 2
  : 1
w : 1
r : 1
d : 1

In [340]:
num1 = 15
num2 = 25
while num1!=num2:
    if num1>num2:
        num1-=num2
    else:
        num2-=num1
print("HCF of 15 and 25 is : ", num1)

HCF of 15 and 25 is :  5

In [341]:
percentage = 82
if percentage >= 90:
    print("Grade: A")
elif percentage >= 80:
    print("Grade: B")
elif percentage >= 70:
    print("Grade: C")
elif percentage >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

In [342]:
year = 2020
if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

2020 is a leap year.

In [343]:
number = 0
if number > 0:
    print(number, "is a positive number.")
elif number < 0:
    print(number, "is a negative number.")
else:
    print(number, "is zero.")

0 is zero.

In [344]:
char = 'a'
if char in ('a', 'e', 'i', 'o', 'u'):
    print(char, "is a vowel.")
elif char.isalpha():
    print(char, "is a consonant.")
else:
    print(char, "is not a letter.")

a is a vowel.

In [345]:
num = 7
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

7 is odd

In [346]:
num = 15
if num % 3 == 0 and num % 5 == 0:
    print(num, "is divisible by 3 and 5")
else:
    print(num, "is not divisible by 3 and 5")

15 is divisible by 3 and 5

In [347]:
num = 19
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

19 is a prime number

In [348]:
num = 8
if num % 2 == 0:
    print(num, "is divisible by 2")
elif num % 3 == 0:
    print(num, "is divisible by 3")
else:
    print(num, "is not divisible by 2 or 3")

8 is divisible by 2

In [349]:
num1 = 10
num2 = 20
if num1 > num2:
    print(num1, "is greater than", num2)
else:
    print(num2, "is greater than", num1)

20 is greater than 10

In [350]:
percentage = 75
if percentage >= 90:
    print("Grade: A")
elif percentage >= 80:
    print("Grade: B")
elif percentage >= 70:
    print("Grade: C")
elif percentage >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: C

In [351]:
num = 21
if num % 7 == 0:
    print(num, "is a multiple of 7")
else:
    print(num, "is not a multiple of 7")

21 is a multiple of 7

In [352]:
num = 16
root = int(num ** 0.5)
if root ** 2 == num:
    print(num, "is a perfect square")
else:
    print(num, "is not a perfect square")

16 is a perfect square

In [353]:
num = 8
root = int(num ** (1/3))
if root ** 3 == num:
    print(num, "is a perfect cube")
else:
    print(num, "is not a perfect cube")

8 is a perfect cube

In [354]:
string = "madam"
flag = True
for i in range(len(string)//2):
    if string[i] != string[len(string)-i-1]:
        flag = False
        break
if flag:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

The string is a palindrome

In [109]:
name = "John Smith"
print(len(name)) # Output: 10

10

In [110]:
name = "John Smith"
print(name.upper()) # Output: "JOHN SMITH"
print(name.lower()) # Output: "john smith"

JOHN SMITH
john smith

In [111]:
name = "   John Smith    "
print(name.strip()) # Output: "John Smith"

John Smith

In [112]:
text = "Hello, my name is John Smith"
print(text.replace("John", "Jane")) # Output: "Hello, my name is Jane Smith"

Hello, my name is Jane Smith

In [113]:
text = "Hello, my name is John Smith"
print(text.split(" ")) # Output: ["Hello,", "my", "name", "is", "John", "Smith"]

['Hello,', 'my', 'name', 'is', 'John', 'Smith']

In [20]:
text = "Hello, my name is John Smith"
print(text.find("John")) # Output: 18

18

In [21]:
text = "Hello, my name is John Smith"
index = text.find("John")
print(index) # Output: 18

18

In [22]:
text = "Hello, my name is John Smith"
index = text.find("Jane")
print(index) # Output: -1

-1

In [23]:
text = "Hello, my name is John Smith"
index = text.find("name", 5, 15)
print(index) # Output: 11

10

In [24]:
text = "Hello, my name is John Smith"
index = text.find("my", 5)
print(index) # Output: -1

7

In [25]:
text = "Hello, my name is John Smith"
if text.find("John") != -1:
    print("John is in the text")
else:
    print("John is not in the text")

John is in the text

In [115]:
text = "Hello, my name is John Smith"
print(text.startswith("Hello")) # Output: True
print(text.endswith("Smith")) # Output: True

True
True

Example:
Let's consider the input number is 1234.

Initialize total = 0.
Start the while loop, as 1234 > 0, so it will start the loop.



Shafeena Farheen
3.
In the first iteration of the while loop, the last digit of the number 1234 is 4, so the code adds it to the total variable, total = total + 4 = 4.
4. The code then updates the value of n by floor dividing it by 10, which gives n = 1234 // 10 = 123.

The loop iterates again, and the last digit of the number 123 is 3, so the code adds it to the total variable, total = total + 3 = 7.
The code again updates the value of n by floor dividing it by 10, which gives n = 123 // 10 = 12.
This process continues until the while loop reaches 0, the final value of total is 10 (1+0=1+2=3+4=10)
Return the value of total which is 10

In [116]:
words = ["Hello", "world"]
print(" ".join(words)) # Output: "Hello world"

Hello world

In [117]:
text = "Hello, my name is John Smith. I am a software developer."
print(text.count("a")) # Output: 3

4

In [118]:
text = "Hello, my name is John Smith"
print(text.index("John")) # Output: 18

18

In [119]:
text = "Hello123"
print(text.isalnum()) # Output: True

text = "Hello World"
print(text.isalnum()) # Output: False

True
False

In [120]:
text = "Hello"
print(text.isalpha()) # Output: True

text = "Hello123"
print(text.isalpha()) # Output: False

True
False

In [121]:
text = "1234"
print(text.isdigit()) # Output: True

text = "Hello123"
print(text.isdigit()) # Output: False

True
False

In [122]:
my_tuple = (1,)
print(my_tuple) # Output: (1,)

(1,)

In [123]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple) # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [124]:
my_tuple = (1, 2, 3, 4, 5)
new_tuple = my_tuple[:2] + (10,) + my_tuple[3:]
print(new_tuple) # Output: (1, 2, 10, 4, 5)

(1, 2, 10, 4, 5)

In [125]:
my_tuple = (1, 2, 3, 4, 5)
for element in my_tuple:
    print(element)

1
2
3
4
5

In [126]:
my_tuple = (1, 2, 3)
x, y, z = my_tuple
print(x) # Output: 1
print(y)
print(z)

1
2
3

In [127]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3) # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [128]:
my_tuple = (1, 2, 3)
new_tuple = my_tuple * 3
print(new_tuple) # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [129]:
my_tuple = (1, 2, 3, 4, 5)
print(3 in my_tuple) # Output: True
print(6 in my_tuple) # Output: False

True
False

In [130]:
my_tuple = (1, 2, 3, 4, 2, 5)
print(my_tuple.count(2)) # Output: 2
print(my_tuple.index(4)) # Output: 3
print(len(my_tuple)) # Output: 6

2
3
6

In [131]:
my_dict = {(1, 2): "tuple key", 3: "integer key"}
print(my_dict[(1, 2)]) # Output: "tuple key"

tuple key

In [132]:
my_tuple = (1, 2, 3, 4, 5)
squared_tuple = tuple(i ** 2 for i in my_tuple)
print(squared_tuple) # Output: (1, 4, 9, 16, 25)

(1, 4, 9, 16, 25)

In [133]:
my_tuple = (5, 4, 3, 2, 1)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple) # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [134]:
def multiply(a, b, c):
    return a * b * c

my_tuple = (2, 3, 4)
result = multiply(*my_tuple)
print(result) # Output: 24

24

In [135]:
my_set = {1, 2, 3, 4, 5}
print(my_set) # Output: {1, 2, 3, 4, 5}

my_set = set([1, 2, 3, 4, 5])
print(my_set) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [136]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set) # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [137]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set) # Output: {1, 2, 4}

my_set.discard(5) # It will not give an error if element is not present.
print(my_set) # Output: {1, 2, 4}

{1, 2, 4}
{1, 2, 4}

In [138]:
numbers = [1, 2, 3, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [139]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [140]:
numbers = {1, 2, 3, 4, 5}
print(3 in numbers) # Output: True
print(6 in numbers) # Output: False

True
False

In [141]:
numbers = {1, 2, 3}
numbers.add(4)
print(numbers) # Output: {1, 2, 3, 4}

numbers.remove(2)
print(numbers) # Output: {1, 3, 4}

{1, 2, 3, 4}
{1, 3, 4}

In [142]:
A = {1, 2, 3}
B = {3, 4, 5}

# Union
print(A.union(B)) # Output: {1, 2, 3, 4, 5}

# Intersection
print(A.intersection(B)) # Output: {3}

# Difference
print(A.difference(B)) # Output: {1, 2}

# Symmetric difference
print(A.symmetric_difference(B)) # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [143]:
empty_set = set()
print(empty_set) # Output: set()

set()

In [144]:
numbers = {1, 2, 3, 4, 5}
for number in numbers:
    print(number)
# Output:
# 1
# 2
# 3
# 4
# 5

1
2
3
4
5

In [145]:
string = "Hello World"
unique_chars = set(string)
print(unique_chars) # Output: {' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

{'H', 'd', ' ', 'W', 'e', 'l', 'r', 'o'}

In [146]:
squared_set = {x**2 for x in range(1,6)}
print(squared_set) # Output: {1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

In [147]:
list_of_lists = [[1,2,3], [2,3,4], [3,4,5]]
common_elements = set.intersection(*map(set,list_of_lists))
print(common_elements) # Output: {3}

{3}

In [148]:
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful']
comments = ['He is a good boy',
            'Food is the worst here',
            'He is an awesome player',
            'She is the best',
            'This pizza tastes awful',
            'These burger are really nice']

positive_comments = []
negative_comments = []

for comment in comments:
    for word in positive:
        if word in comment:
            positive_comments.append(comment)
            break
    else:
        for word in negative:
            if word in comment:
                negative_comments.append(comment)
                break

print("Positive comments: ", positive_comments)
print("Negative comments: ", negative_comments)

Positive comments:  ['He is a good boy', 'He is an awesome player', 'She is the best', 'These burger are really nice']
Negative comments:  ['Food is the worst here', 'This pizza tastes awful']

In [151]:
power_level = {'Drax':30,
               'Spiderman':50,
               'Thanos':58000,
               'Captain America':80,
               'Loki':3200,
               'Thor':44000,
               'Groot': 120,
               'Ironman':5000,
               'Dr. Strange':8000}              # Dictionary of superheroes as keys and their corresponding power levels as values.                         

God_Like = []            # Empty list for collecting heroes with god like power level
Super_Strong = []        # Empty list for collecting heroes who are super strong
Strong = []              # Empty list for collecting heroes who are strong
Peak_Human = []          # Empty list for collecting heroes who are peak human

for hero in power_level:
    if((power_level[hero] > 35000) and (power_level[hero] < 70000)):      # If power level of the hero is between 35000 and 70000
        God_Like.append(hero)                                               # Append that hero to God_Like list
    elif((power_level[hero] > 3000) and (power_level[hero] < 10000)):     # If power level of the hero is between 35000 and 70000
        Super_Strong.append(hero)                                           # Append that hero to Super_Strong list
    elif((power_level[hero] > 100) and (power_level[hero] < 200)):        # If power level of the hero is between 35000 and 70000
        Strong.append(hero)                                                 # Append that hero to Strong list
    elif((power_level[hero] > 10) and (power_level[hero] < 90)):          # If power level of the hero is between 35000 and 70000
        Peak_Human.append(hero)                                             # Append that hero to Peak_Human list
         
print('God_Like: ', God_Like)
print('Super_Strong: ', Super_Strong)
print('Strong: ', Strong)
print('Peak_Human: ', Peak_Human)

God_Like:  ['Thanos', 'Thor']
Super_Strong:  ['Loki', 'Ironman', 'Dr. Strange']
Strong:  ['Groot']
Peak_Human:  ['Drax', 'Spiderman', 'Captain America']

In [154]:
fruits = (('Lemon','sour'),
          ('DragonFruit', 'Sweet'),
          ('Grapes','soUr'),
          ('Kiwi','Sour'),
          ('Apples','sweet'),
          ('Orange','sour'),
          ('Blueberries','sweet'),
          ('Limes','Sour')
          )

sour_fruits = []

for fruit in fruits:
    if fruit[1].lower() == 'sour':
        sour_fruits.append(fruit[0])

print(sour_fruits)

['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [155]:
n = 6
char = ord('A')
for i in range(1, n + 1):
    for j in range(i):
        print(chr(char), end = " ")
        char += 1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [156]:
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)
result = tuple(a/b for a,b in zip(tuple1,tuple2))
print(result)

(2.0, 2.0, 2.0, 3.0)

In [157]:
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)
result = tuple(a//b for a,b in zip(tuple1,tuple2))
print(result)

(2, 2, 2, 3)

In [158]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
short_words = [word for sublist in astro for word in sublist if len(word)<5]
print(short_words)

['sky', 'sun', 'moon', 'star', 'mars']

In [159]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
short_words = []
for sublist in astro:
    for word in sublist:
        if len(word) < 5:
            short_words.append(word)
print(short_words)

['sky', 'sun', 'moon', 'star', 'mars']

In [160]:
range_end = int(input("Enter the range end: "))
for i in range(2, range_end+1):
    for j in range(1, 11):
        print(i*j, end=" ")
    print()

Enter the range end: 3
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [163]:
range_num = int(input('Enter a number in range: '))

for n in range(2 , range_num + 1):
    for i in range(1,11):
        print(n, ' X ', i, ' = ', n*i)
    print("\n")

Enter a number in range: 3
2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20


3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30

In [164]:
original_tuple = (4, 5, 6)
new_dict = {'gfg': 1, 'is': 2, 'best': 3}
new_tuple = original_tuple + (new_dict,)
print(new_tuple)

(4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

In [165]:
original_tuple = (4, 5, 6)
new_dict = {'gfg': 1, 'is': 2, 'best': 3}
new_tuple = original_tuple + tuple(new_dict)
print(new_tuple)

(4, 5, 6, 'gfg', 'is', 'best')

In [167]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
if sorted(string1) == sorted(string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string: shafeena
Enter the second string: aneefahs
The strings are anagrams.

In [168]:
from collections import Counter
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
if Counter(string1) == Counter(string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string: shafeena
Enter the second string: farheen
The strings are not anagrams.

In [169]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
new_fruity = {k.replace(" ",""):v for k,v in fruity.items()}
print(new_fruity)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

In [170]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
new_fruity = {}
for k, v in fruity.items():
    k = k.replace(" ","")
    new_fruity[k] = v
print(new_fruity)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

In [171]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
new_fruity = dict([(k.replace(" ",""), v) for k, v in fruity.items()])
print(new_fruity)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

In [ ]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
new_fruity = dict(map(lambda item: (item[0].replace(" ",""), item[1]), fruity.items()))
print(new_fruity)

In [173]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
fruity_keys = fruity.keys()
fruity_keys = [key.replace(" ","") for key in fruity_keys]
fruity.update(dict.fromkeys(fruity_keys, None))
new_fruity = dict((key, fruity[key]) for key in fruity_keys)
print(new_fruity)

{'Fruits01': None, 'Fruits02': None, 'Fruits03': None}

In [174]:
fruits = {'apple': 1, 'banana': 2, 'orange': 3}
fruits.clear()
print(fruits) # {}

{}

In [175]:
fruits = {'apple': 1, 'banana': 2, 'orange': 3}
fruits_copy = fruits.copy()
fruits_copy['apple'] = 4
print(fruits) # {'apple': 1, 'banana': 2, 'orange': 3}
print(fruits_copy) # {'apple': 4, 'banana': 2, 'orange': 3}

{'apple': 1, 'banana': 2, 'orange': 3}
{'apple': 4, 'banana': 2, 'orange': 3}

# dict.fromkeys(iterable, value): This function is used to create a new dictionary with keys from an iterable and values set to a specified value.

In [176]:
keys = ['apple', 'banana', 'orange']
fruits = dict.fromkeys(keys, 0)
print(fruits) # {'apple': 0, 'banana': 0, 'orange': 0}

{'apple': 0, 'banana': 0, 'orange': 0}

# dict.get(key, default): This function is used to return the value of a specified key. If the key is not found, it returns a default value.

In [177]:
fruits = {'apple': 1, 'banana': 2, 'orange': 3}
print(fruits.get('apple')) # 1
print(fruits.get('mango', 'Not found')) # Not found

1
Not found

In [178]:
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
transposed_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed_matrix)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [179]:
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
transposed_matrix = list(map(list, zip(*matrix)))
print(transposed_matrix)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [180]:
import numpy as np
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
transposed_matrix = np.transpose(matrix)
print(transposed_matrix)

[[1 3 5 7]
 [2 4 6 8]]

In [181]:
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
transposed_matrix = []
for i in range(len(matrix[0])):
    transposed_matrix.append([row[i] for row in matrix])
print(transposed_matrix)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [182]:
matrix = [[1, 2, 3] for i in range(5)]
print(matrix)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [183]:
matrix = []
for i in range(5):
    matrix.append([1, 2, 3])
print(matrix)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [184]:
import numpy as np
matrix = np.full((5,3), [1, 2, 3])
print(matrix)

[[1 2 3]
 [1 2 3]
 [1 2 3]
 [1 2 3]
 [1 2 3]]

In [185]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
result = list(map(lambda x: x.upper(), lsbool))
print(result)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

In [186]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
result = [x.upper() for x in lsbool]
print(result)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

In [187]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
result = []
for x in lsbool:
    result.append(x.upper())
print(result)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

In [188]:
fruits = {'apple':1, 'banana':2, 'orange':3}
print(fruits.items())

dict_items([('apple', 1), ('banana', 2), ('orange', 3)])

In [189]:
fruits = {'apple':1, 'banana':2, 'orange':3}
print(fruits.keys())

dict_keys(['apple', 'banana', 'orange'])

In [190]:
fruits = {'apple':1, 'banana':2, 'orange':3}
print(fruits.values())

dict_values([1, 2, 3])

In [191]:
fruits = {'apple':1, 'banana':2, 'orange':3}
print(fruits.pop('banana', 'Key not found'))

2

In [192]:
fruits = {'apple':1, 'banana':2, 'orange':3}
print(fruits.popitem())

('orange', 3)

In [194]:
fruits = ['apple', 'banana', 'orange']
fruits.append('kiwi')
print(fruits)

['apple', 'banana', 'orange', 'kiwi']

In [195]:
fruits = ['apple', 'banana', 'orange']
more_fruits = ['kiwi', 'mango']
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'orange', 'kiwi', 'mango']

In [196]:
fruits = ['apple', 'banana', 'orange']
fruits.insert(1, 'kiwi')
print(fruits)

['apple', 'kiwi', 'banana', 'orange']

In [197]:
fruits = ['apple', 'banana', 'orange', 'banana']
fruits.remove('banana')
print(fruits)

['apple', 'orange', 'banana']

In [198]:
fruits = ['apple', 'banana', 'orange']
fruits.pop()
print(fruits)

['apple', 'banana']

In [199]:
fruits = ['apple', 'banana', 'orange', 'banana']
print(fruits.index('banana'))

1

In [200]:
fruits = ['apple', 'banana', 'orange', 'banana']
print(fruits.count('banana'))

2

In [201]:
fruits = ['apple', 'banana', 'orange']
fruits.reverse()
print(fruits)

['orange', 'banana', 'apple']

In [202]:
numbers = [3, 1, 4, 2, 5]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [203]:
numbers = [3, 1, 4, 2, 5]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 2, 3, 4, 5]

In [204]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[3:7])

[4, 5, 6, 7]

In [207]:
fruits = ['apple', 'banana', 'orange']
print(len(fruits))

3

In [208]:
numbers = [1, 2, 3, 4, 5]
print(max(numbers))

5

In [209]:
numbers = [1, 2, 3, 4, 5]
print(min(numbers))

1

In [210]:
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print(total)

15

In [212]:
import builtins
numbers = [1, 2, 3, 4, 5]
print(builtins.sum(numbers))

15

In [213]:
# Creating a 1-dimensional list
fruits = ['apple', 'banana', 'orange']

# Accessing elements in the list
print(fruits[0]) # Output: 'apple'
print(fruits[2]) # Output: 'orange'

# Modifying elements in the list
fruits[1] = 'mango'
print(fruits) # Output: ['apple', 'mango', 'orange']

# Adding elements to the list
fruits.append('kiwi')
print(fruits) # Output: ['apple', 'mango', 'orange', 'kiwi']

# Removing elements from the list
fruits.remove('orange')
print(fruits) # Output: ['apple', 'mango', 'kiwi']

# Sorting the list
fruits.sort()
print(fruits) # Output: ['apple', 'kiwi', 'mango']

# Finding the length of the list
print(len(fruits)) # Output: 3

apple
orange
['apple', 'mango', 'orange']
['apple', 'mango', 'orange', 'kiwi']
['apple', 'mango', 'kiwi']
['apple', 'kiwi', 'mango']
3

In [214]:
fruits = ['apple', 'banana', 'orange']
fruits.insert(1, 'pear')
print(fruits) # Output: ['apple', 'pear', 'banana', 'orange']

['apple', 'pear', 'banana', 'orange']

In [215]:
fruits = ['apple', 'banana', 'orange']
del fruits[1]
print(fruits) # Output: ['apple', 'orange']

['apple', 'orange']

In [216]:
fruits = ['apple', 'banana', 'orange']
fruits.reverse()
print(fruits) # Output: ['orange', 'banana', 'apple']

['orange', 'banana', 'apple']

In [217]:
fruits = ['apple', 'banana', 'orange', 'apple', 'orange']
print(fruits.count('apple')) # Output: 2

2

In [218]:
fruits = ['apple', 'banana', 'orange']
print('apple' in fruits) # Output: True
print('mango' in fruits) # Output: False

True
False

In [219]:
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)
# Output:
# apple
# banana
# orange

apple
banana
orange

In [220]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num ** 2 for num in numbers]
print(squared_numbers) # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [221]:
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers) # Output: [2, 4]

[2, 4]

In [222]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers) # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [223]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product) # Output: 120

120

In [224]:
numbers = [1, 2, 3, 4, 5]
has_even_numbers = any(x % 2 == 0 for x in numbers)
print(has_even_numbers) # Output: True

True

In [225]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)
# Output: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [226]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix[1][2]) # Output: 6

6

In [227]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix[1][1] = 10
print(matrix)
# Output: [[1, 2, 3], [4, 10, 6], [7, 8, 9]]

[[1, 2, 3], [4, 10, 6], [7, 8, 9]]

In [228]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for element in row:
        print(element)
# Output: 1 2 3 4 5 6 7 8 9

1
2
3
4
5
6
7
8
9

In [229]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
squared_matrix = [[element ** 2 for element in row] for row in matrix]
print(squared_matrix)
# Output: [[1, 4, 9], [16, 25, 36], [49, 64, 81]]

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [230]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed_matrix = list(map(list, zip(*matrix)))
print(transposed_matrix)
# Output: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [231]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
num_rows = len(matrix)
num_cols = len(matrix[0])
print("Number of rows: ", num_rows) # Output: 3
print("Number of columns: ", num_cols) # Output: 3

Number of rows:  3
Number of columns:  3

In [232]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i, row in enumerate(matrix):
    for j, element in enumerate(row):
        print("Element at (", i, ",", j, ") :", element)

Element at ( 0 , 0 ) : 1
Element at ( 0 , 1 ) : 2
Element at ( 0 , 2 ) : 3
Element at ( 1 , 0 ) : 4
Element at ( 1 , 1 ) : 5
Element at ( 1 , 2 ) : 6
Element at ( 2 , 0 ) : 7
Element at ( 2 , 1 ) : 8
Element at ( 2 , 2 ) : 9

In [233]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
del matrix[1] # remove the second row
print(matrix) # Output: [[1, 2, 3], [7, 8, 9]]

[[1, 2, 3], [7, 8, 9]]

In [234]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix[1].extend([10, 11]) # add [10, 11] to the second row
print(matrix) # Output: [[1, 2, 3], [4, 5, 6, 10, 11], [

[[1, 2, 3], [4, 5, 6, 10, 11], [7, 8, 9]]

In [235]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers) # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [236]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers) # Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [237]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print(sum_of_numbers) # Output: 15

15

In [238]:
numbers = [1, 2, 3, 4, 5]
greater_than_two = list(filter(lambda x: x > 2, numbers))
print(greater_than_two) # Output: [3, 4, 5]

[3, 4, 5]

In [239]:
employees = [("Alice", 25, "HR"), ("Bob", 30, "IT"), ("Charlie", 35, "Finance")]
employees.sort(key=lambda x: x[1])
print(employees) # Output: [("Alice", 25, "HR"), ("Bob", 30, "IT"), ("Charlie", 35, "Finance")]

[('Alice', 25, 'HR'), ('Bob', 30, 'IT'), ('Charlie', 35, 'Finance')]

In [241]:
numbers = [1, 2, 3, 4, 5]
print(max(numbers, key=lambda x: x ** 2)) # Output: 5

5

In [242]:
words = ["apple", "banana", "cherry", "date"]
long_words = list(filter(lambda x: len(x) > 5, words))
print(long_words) # Output: ["banana", "cherry"]

['banana', 'cherry']

In [243]:
words = ["apple", "banana", "cherry", "date"]
uppercase_words = list(map(lambda x: x.upper(), words))
print(uppercase_words) # Output: ["APPLE", "BANANA", "CHERRY", "DATE"]

['APPLE', 'BANANA', 'CHERRY', 'DATE']

In [244]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product) # Output: 120

120

In [245]:
data = [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 30}, {"name": "Charlie", "age": 35}]
adults = list(filter(lambda x: x["age"] >= 21, data))
print(adults) # Output: [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 30}, {"name": "Charlie", "age": 35}]

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 35}]

In [246]:
data = [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 30}, {"name": "Charlie", "age": 35}]
names = list(map(lambda x: x["name"], data))
print(names) # Output: ["Alice", "Bob", "Charlie"]

['Alice', 'Bob', 'Charlie']

In [247]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
sum = reduce(lambda x, y: x + y, numbers)
print(sum) # Output: 15

15

In [248]:
words = ["apple", "banana", "cherry", "date"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words) # Output: ["date", "cherry", "apple", "banana"]

['date', 'apple', 'banana', 'cherry']

In [249]:
numbers = [1, 2, 3, 4, 5]
has_even = any(map(lambda x: x % 2 == 0, numbers))
print(has_even) # Output: True

True

In [250]:
lsbool = ['TRUE','FALSE','TRUE','TRUE','FALSE','FALSE','TRUE']
lsbool = [1 if x=='TRUE' else 0 for x in lsbool]
print(lsbool) # Output: [1, 0, 1, 1, 0, 0, 1]

[1, 0, 1, 1, 0, 0, 1]

In [251]:
lsbool = ['TRUE','FALSE','TRUE','TRUE','FALSE','FALSE','TRUE']
lsbool = list(map(lambda x: 1 if x=='TRUE' else 0, lsbool))
print(lsbool) # Output: [1, 0, 1, 1, 0, 0, 1]

[1, 0, 1, 1, 0, 0, 1]

In [252]:
# Create a dictionary containing lambda functions
functions = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'Squareroot': lambda x: x**0.5,
    'Double': lambda x: x*2
}

# Take input from user
user_input = int(input("Enter a number: "))

# Initialize a variable to store the sum of all outputs
output_sum = 0

# Iterate over the dictionary and call each function with the user input
for key, func in functions.items():
    output = func(user_input)
    print(f"{key}: {output}")
    output_sum += output
    #output_sum = functions['Square'](user_input) + functions['Cube'](user_input) 
    #+ functions['Squareroot'](user_input) + functions['Double'](user_input)


# Print the sum of all outputs
print(f"Sum of all outputs: {output_sum}")

Enter a number: 2
Square: 4
Cube: 8
Squareroot: 1.4142135623730951
Double: 4
Sum of all outputs: 17.414213562373096

In [254]:
# Create a dictionary containing lambda functions
functions = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'Squareroot': lambda x: x**0.5,
    'Double': lambda x: x*2
}

# Take input from user
user_input = int(input("Enter a number: "))

# Initialize a variable to store the sum of all outputs
output_sum = 0

# Iterate over the dictionary and call each function with the user input
for key, func in functions.items():
    output = func(user_input)
    print(f"{key}: {output}")
    output_sum = functions['Square'](user_input) + functions['Cube'](user_input) + functions['Squareroot'](user_input) + functions['Double'](user_input)


# Print the sum of all outputs
print(f"Sum of all outputs: {output_sum}")

Enter a number: 2
Square: 4
Cube: 8
Squareroot: 1.4142135623730951
Double: 4
Sum of all outputs: 17.414213562373096

In [255]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result = [word for word in ls if word[1].isupper()]
print(result) # Output: ['hOw', 'ARe']

['hOw', 'ARe']

In [257]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result = list(filter(lambda x: x[1].isupper(), ls))
print(result) # Output: ['hOw', 'ARe']

['hOw', 'ARe']

In [258]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)

result = [(name, mark) for name, mark in zip(tnames, tmarks) if mark > 40]
print(result) 
# Output: [('Sharon', 50), ('Jack', 75)]

[('Sharon', 50), ('Jack', 75)]

In [260]:
result = list(filter(lambda x: x[1] > 40, zip(tnames, tmarks)))
print(result)

[('Sharon', 50), ('Jack', 75)]

In [261]:
from functools import reduce

given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

result = reduce(set.intersection, map(set, given_sets))
print(result) # Output: {8, 3}

{8, 3}

In [263]:
glstring = 'great'

def count_not_in_glstring(string, glstring):
    if string == "":
        return 0
    else:
        if string[0] != " " and string[0] not in glstring:
            return 1 + count_not_in_glstring(string[1:], glstring)
        else:
            return count_not_in_glstring(string[1:], glstring)

user_string = input("Enter a string: ")
result = count_not_in_glstring(user_string, glstring)
print(result)

Enter a string: shafeena
4

In [264]:
world_cup_2011 = {'John', 'Jack', 'Sharon', 'Annie'}
world_cup_2015 = {'Jack', 'Sharon', 'Annie', 'Mike', 'Chris'}

# Find the list of all players who played in either 2011 or 2015 World Cup
all_players = world_cup_2011.union(world_cup_2015)
print(all_players) # Output: {'Mike', 'John', 'Jack', 'Sharon', 'Annie', 'Chris'}

# Find the list of players who played for both 2011 and 2015 World Cup
both_players = world_cup_2011.intersection(world_cup_2015)
print(both_players) # Output: {'Jack', 'Sharon', 'Annie'}

# Find the list of players who were 'not' the part of 2011 World Cup and played in 2015 World Cup
new_players = world_cup_2015.difference(world_cup_2011)
print(new_players) # Output: {'Mike', 'Chris'}

{'Chris', 'John', 'Sharon', 'Annie', 'Mike', 'Jack'}
{'Annie', 'Sharon', 'Jack'}
{'Mike', 'Chris'}

In [265]:
from itertools import accumulate

numbers = [9, 8, 7, 6, 5]

# Using the accumulate function and a lambda function to find cumulative average
cumulative_average = list(accumulate(numbers, lambda x, y: (x + y) / 2))
print(cumulative_average) # Output: [9.0, 8.5, 7.75, 7.125, 6.5625]

[9, 8.5, 7.75, 6.875, 5.9375]

In [266]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81

# Using map and lambda function to find weight on the moon
WeightOnMoon = dict(map(lambda x: (x[0], x[1]*GMoon/GEarth), WeightOnEarth.items()))
print(WeightOnMoon) # Output: {'John': 27.66352288982129, 'Shelly': 39.85290963245868, 'Marry': 22.06659176029963}

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

In [267]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81

WeightOnMoon = {}

# Using for loop to find weight on the moon
for name, weight in WeightOnEarth.items():
    WeightOnMoon[name] = weight*GMoon/GEarth

print(WeightOnMoon) # Output: {'John': 27.66352288982129, 'Shelly': 39.85290963245868, 'Marry': 22.06659176029963}

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

# Nested loops

In [268]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Using nested loops to print the matrix
for row in matrix:
    for num in row:
        print(num, end=" ")
    print()

# Output:
# 1 2 3
# 4 5 6
# 7 8 9

1 2 3
4 5 6
7 8 9

In [269]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Using nested loops to print the cartesian product
for num1 in list1:
    for letter in list2:
        print(num1, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [270]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

Printing a pyramid pattern:

In [271]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

Summing up the diagonals of a matrix:

In [272]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

diagonal_sum = 0
for i in range(len(matrix)):
    diagonal_sum += matrix[i][i]

print(diagonal_sum)

15

Flattening a nested list:

In [273]:
nested_list = [[1, 2], [3, 4], [5, 6], [7, 8]]
flat_list = []

for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Generating a permutation of a list:

In [274]:
import itertools

items = [1, 2, 3]

for perm in itertools.permutations(items):
    print(perm)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

Counting occurrences of a letter in a word:

In [275]:
word = "hello"
letter = "l"
count = 0

for char in word:
    if char == letter:
        count += 1

print(count)

2

Generating a combination of a list:

In [276]:
import itertools

items = [1, 2, 3]

for comb in itertools.combinations(items, 2):
    print(comb)

(1, 2)
(1, 3)
(2, 3)

Reversing the elements of a list:

In [277]:
numbers = [1, 2, 3, 4, 5]

for i in range(len(numbers) // 2):
    numbers[i], numbers[-i - 1] = numbers[-i - 1], numbers[i]

print(numbers)

[5, 4, 3, 2, 1]

Generating a Cartesian product of two lists:

In [278]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

for num1 in list1:
    for letter in list2:
        print(num1, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

Finding the common elements between two lists:

In [289]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 = [[2, 3, 4], [5, 6, 7], [8, 9, 10]]
common_elements = []
for row1 in list1:
    for element in row1:
        for row2 in list2:
            if element in row2:
                common_elements.append(element)
print(common_elements)

[2, 3, 4, 5, 6, 7, 8, 9]

In [283]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4, 6, 8, 10]
common_elements = []

for element in list1:
    if element in list2:
        common_elements.append(element)

print(common_elements)

[2, 4]

In [291]:
#Using a for loop to find the sum of all elements in a list:
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
    sum += num
print(sum)

15

In [294]:
#Using a for loop to find the average of all elements in a list:
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
    sum += num
    average = sum / len(numbers)
print(average)

3.0

In [295]:
for num in range(2, 101):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [296]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
for element1 in list1:
    for element2 in list2:
        print(element1, element2)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [297]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
largest = 0
for row in matrix:
    for element in row:
        if element > largest:
            largest = element
print(largest)

9

df.query('expression')

df.query('age > 30')
df.query('age > 30 & gender == "female"')

In [299]:
# Create a sample string
sample_string = "UpPeR CaSe LoWeR CaSe"

# Convert the string to uppercase
upper_case_string = sample_string.upper()
print(upper_case_string) # Output: UPPER CASE LOWER CASE

# Convert the string to lowercase
lower_case_string = sample_string.lower()
print(lower_case_string) # Output: upper case lower case

UPPER CASE LOWER CASE
upper case lower case

In [355]:
import pandas as pd

data = {'name': ['John', 'Jane', 'Sam'], 'age': [25, 32, 45], 'city': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

   name  age         city
0  John   25     New York
1  Jane   32  Los Angeles
2   Sam   45      Chicago

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df)

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

# Selecting a single column
print(df['name'])

# Selecting multiple columns
print(df[['name', 'age']])

# Selecting rows by index
print(df.loc[0])

# Selecting rows by condition
print(df[df['age'] > 30])

In [ ]:
Selecting columns and rows:
import pandas as pd

df = pd.read_csv('data.csv')

# Group by column 'city' and calculating mean for each group
grouped = df.groupby('city').mean()
print(grouped)

# Group by column 'city' and counting number of rows in each group
grouped = df.groupby('city').count()
print(grouped)

In [ ]:
Grouping and Aggregating:
import pandas as pd

df = pd.read_csv('data.csv')

# Group by column 'city' and calculating mean for each group
grouped = df.groupby('city').mean()
print(grouped)

# Group by column 'city' and counting number of rows in each group
grouped = df.groupby('city').count()
print(grouped)

In [ ]:
Merging and joining data frames:
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                   'value': np.random.randn(4)})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                   'value': np.random.randn(4)})

#inner join
merged = pd.merge(df1, df2, on='key')

#outer join
merged = pd.merge(df1, df2, on='key', how='outer')

In [ ]:
A program that selects a specific column in a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df['name'])

In [ ]:
A program that selects multiple columns in a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df[['name', 'age']])

In [ ]:
A program that filters rows in a DataFrame based on a condition:
import pandas as pd
df = pd.read_csv('data.csv')
print(df[df['age'] > 30])

In [ ]:
A program that sorts a DataFrame by a specific column:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.sort_values(by='age'))

In [ ]:
A program that groups a DataFrame by a specific column:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.groupby('city').mean())

In [ ]:
A program that merges two DataFrames on a specific column:
import pandas as pd
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')
merged_df

In [ ]:
A program that renames columns in a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
df = df.rename(columns={'OldName1': 'NewName1', 'OldName2': 'NewName2'})
print(df)

In [ ]:
A program that drops a specific column in a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
df = df.drop(columns=['name'])
print(df)

In [ ]:
A program that fills missing values in a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
df = df.fillna(0)
print(df)

In [ ]:
A program that concatenates two DataFrames:
import pandas as pd
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')
concatenated_df = pd.concat([df1, df2])
print(concatenated_df)

In [ ]:
A program that joins two DataFrames on a specific column:
import pandas as pd
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')
joined_df = df1.merge(df2, on='id')
print(joined_df)

In [ ]:
A program that pivots a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
pivot_df = df.pivot(index='name', columns='year', values='sales')
print(pivot_df)

In [ ]:
16. A program that performs various statistical operations on a DataFrame:
```python
import pandas as pd
df = pd.read_csv('data.csv')
print(df.describe())

In [ ]:
A program that applies a function to a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
df['age_plus_one'] = df['age'].apply(lambda x: x+1)
print(df)

In [ ]:
A program that uses the map function to apply a function on a specific column of a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
df['name'] = df['name'].map(lambda x: x.upper())
print(df)

In [ ]:
A program that uses the drop_duplicates function to remove duplicate rows from a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
df = df.drop_duplicates()
print(df)
import pandas as pd
df = pd.read_csv('data.csv')
print(df.sample(3))
import pandas as pd
df = pd.read_csv('data.csv')
print(df.info())
import pandas as pd
df = pd.read_csv('data.csv')
print(df.isnull().sum())

In [ ]:
A program that uses the nunique() function to display the number of unique values in each column of a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.nunique())

In [ ]:
A program that uses the value_counts() function to display the frequency of unique values in a column of a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df['age'].value_counts())

In [ ]:
A program that uses the to_csv() function to save a DataFrame to a CSV file:
import pandas as pd
df = pd.read_csv('data.csv')
df.to_csv('new_data.csv', index=False)
import pandas as pd
df = pd.read_csv('data.csv')
df.to_excel('data.xlsx', index=False)

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.to_html())
import pandas as pd
df = pd.read_csv('data.csv')
df.to_json('data.json', orient='index')

In [ ]:
A program that uses the .corr() function to compute pairwise correlation of columns of a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.corr())

A program that uses the .cov() function to compute pairwise covariance of columns of a DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.cov())

A program that uses the .diff() function to compute the difference of a DataFrame element compared to
another element in the DataFrame:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.diff())
import pandas as pd
df = pd.read_csv('data.csv')
print(df.shift(1))

import pandas as pd
df = pd.read_csv('data.csv')
print(df.rank())

In [ ]:

Question: Load the "titanic.csv" dataset into a DataFrame and display the first 5 rows.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df.head())
Question: Display the number of rows and columns in the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])
Question: Display the column names in the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df.columns)
Question: Display the unique values in the "Pclass" column of the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df['Pclass'].unique())
Question: Display the average age of passengers in the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df['Age'].mean())
Question: Display the number of passengers who survived in the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df[df['Survived'] == 1]['Survived'].count())
Question: Display the number of passengers who did not survive in the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df[df['Survived'] == 0]['Survived'].count())
Question: Display the number of passengers in each class in the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df['Pclass'].value_counts())
Question: Display the number of passengers who traveled alone in the "titanic.csv" dataset.

import pandas as pd
df = pd.read_csv('titanic.csv')
print(df[df['SibSp'] + df['Parch'] == 0]['PassengerId'].count())
Question: Create a new column "FamilySize" in the "titanic.csv" dataset that combines the values of "SibSp" and "Parch" columns.

import pandas as pd
df = pd.read_csv('titanic.csv')
df['FamilySize'] = df['SibSp'] + df['Parch']
print(df.head())

In [ ]:

Question: Load the "employees.csv" dataset into a DataFrame and display the first 5 rows.

import pandas as pd
df = pd.read_csv('employees.csv')
print(df.head())
Question: Display the number of unique job titles in the "employees.csv" dataset.

import pandas as pd
df = pd.read_csv('employees.csv')
print(df['job_title'].nunique())
Question: Display the average salary of employees in the "employees.csv" dataset grouped by department.

import pandas as pd
df = pd.read_csv('employees.csv')
grouped_df = df.groupby(by='department')
print(grouped_df['salary'].mean())
Question: Create a new DataFrame that contains only the rows of the "employees.csv" dataset 
    where the employee's salary is above the average salary.

import pandas as pd
df = pd.read_csv('employees.csv')
average_salary = df['salary'].mean()
above_average_df = df[df['salary'] > average_salary]
print(above_average_df)

Question: Load the "sales.csv" dataset into a DataFrame and display the total sales for each month.

import pandas as pd
df = pd.read_csv('sales.csv')
grouped_df = df.groupby(by='month')
print(grouped_df['sales'].sum())

Question: Display the average sales for each product in the "sales.csv" dataset grouped by product category.

import pandas as pd
df = pd.read_csv('sales.csv')
grouped_df = df.groupby(by=['product_category', 'product'])
print(grouped_df['sales'].mean())

In [ ]:
Question: Load the "students.csv" dataset into a DataFrame and display the number of students that passed 
    and failed each exam.
    
import pandas as pd
df = pd.read_csv('students.csv')
print(df.groupby(by=['exam', 'result'])['student_id'].count())

Question: Display the average score of students in each class in the "students.csv" dataset.

import pandas as pd
df = pd.read_csv('students.csv')
print(df.groupby(by='class')['score'].mean())

Question: Create a new DataFrame that contains only the rows of the "students.csv" dataset 
    where the student's score is above a certain threshold.

import pandas as pd
df = pd.read_csv('students.csv')
above_threshold_df = df[df['score'] > 80]
print(above_threshold_df)

Question: Load the "weather.csv" dataset into a DataFrame and display the maximum temperature for each city.

import pandas as pd
df = pd.read_csv('weather.csv')
print(df.groupby(by='city')['temperature'].max())

Question: Display the average precipitation for each month in the "weather.csv" dataset.

import pandas as pd
df = pd.read_csv('weather.csv')
print(df.groupby(by='month')['precipitation'].mean())

Question: Create a new column "Season" in the "weather.csv" dataset based on the month.

import pandas as pd
df = pd.read_csv('weather.csv')
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Autumn'
    
df['Season'] = df['month'].apply(get_season)
print(df.head())

In [ ]:
Question: Load the "order.csv" dataset into a DataFrame and display the total revenue for each month.

import pandas as pd
df = pd.read_csv('order.csv')
grouped_df = df.groupby(by='month')
print(grouped_df['revenue'].sum())

Question: Display the number of orders for each product in the "order.csv" dataset.

import pandas as pd
df = pd.read_csv('order.csv')
print(df['product'].value_counts())

Question: Display the average revenue of orders in the "order.csv" dataset grouped by customer type.

import pandas as pd
df = pd.read_csv('order.csv')
grouped_df = df.groupby(by='customer_type')
print(grouped_df['revenue'].mean())

Question: Create a new DataFrame that contains only the rows of the "order.csv" dataset where
    the order value is above a certain threshold.

import pandas as pd
df = pd.read_csv('order.csv')
above_threshold_df = df[df['order_value'] > 1000]
print(above_threshold_df)

Question: Load the "employee_data.csv" dataset into a DataFrame and display 
    the maximum salary of employees in each department.

import pandas as pd
df = pd.read_csv('employee_data.csv')
print(df.groupby(by='department')['salary'].max())

Question: Display the number of employees in each job title in the "employee_data.csv" dataset.

import pandas as pd
df = pd.read_csv('employee_data.csv')
print(df['job_title'].value_counts())

In [ ]:

Question: Load the "flight_data.csv" dataset into a DataFrame and display the first 5 rows.

import pandas as pd
df = pd.read_csv('flight_data.csv')
print(df.head())

Question: Display the number of flights that were delayed in the "flight_data.csv" dataset.

import pandas as pd
df = pd.read_csv('flight_data.csv')
print(df[df['is_delayed'] == 'yes']['flight_id'].count())

Question: Display the average delay time of flights in the "flight_data.csv" dataset grouped by airline.

import pandas as pd
df = pd.read_csv('flight_data.csv')
grouped_df = df.groupby(by='airline')
print(grouped_df['delay_time'].mean())

Question: Create a new DataFrame that contains only the rows of the "flight_data.csv" dataset 
    where the flight was delayed more than 2 hours.

import pandas as pd
df = pd.read_csv('flight_data.csv')
delayed_df = df[df['delay_time'] > 120]
print(delayed_df)

In [ ]:
Question: Display the number of flights that were cancelled in the "flight_data.csv" dataset.

import pandas as pd
df = pd.read_csv('flight_data.csv')
print(df[df['is_cancelled'] == 'yes']['flight_id'].count())

Question: Display the number of flights that were operated by each airline in the "flight_data.csv" dataset.

import pandas as pd
df = pd.read_csv('flight_data.csv')
print(df['airline'].value_counts())

Question: Display the average distance of flights in the "flight_data.csv" dataset grouped by departure city.

import pandas as pd
df = pd.read_csv('flight_data.csv')
grouped_df = df.groupby(by='departure_city')
print(grouped_df['distance'].mean())

Question: Create a new column "Duration" in the "flight_data.csv" dataset that calculates the 
    duration of the flight in hours.

import pandas as pd
df = pd.read_csv('flight_data.csv')
df['duration'] = df['flight_time']/60
print(df.head())

In [ ]:
Question: Load the "adult_income.csv" dataset into a DataFrame and display the first 5 rows.

import pandas as pd
df = pd.read_csv('adult_income.csv')
print(df.head())

Question: Display the number of individuals in the "adult_income.csv" dataset that have income above $50,000 per year.

import pandas as pd
df = pd.read_csv('adult_income.csv')
print(df[df['income'] == '>50K']['income'].count())

Question: Display the average age of individuals in the "adult_income.csv" dataset grouped by education level.

import pandas as pd
df = pd.read_csv('adult_income.csv')
grouped_df = df.groupby(by='education')
print(grouped_df['age'].mean())

Question: Create a new DataFrame that contains only the rows of the "adult_income.csv" dataset
    where the individual's occupation is "Exec-managerial".

import pandas as pd
df = pd.read_csv('adult_income.csv')
exec_managerial_df = df[df['occupation'] == 'Exec-managerial']
print(exec_managerial_df)

Question: Load the "car_data.csv" dataset into a DataFrame and display the number of cars of each make.

import pandas as pd
df = pd.read_csv('car_data.csv')
print(df['make'].value_counts())

Question: Display the average price of cars in the "car_data.csv" dataset grouped by body style.

import pandas as pd
df = pd.read_csv('car_data.csv')
grouped_df = df.groupby(by='body_style')
print(grouped_df['price'].mean())

Question: Create a new DataFrame that contains only the rows of the "car_data.csv" dataset 
    where the car's fuel type is "Diesel" and the price is above $20,000.

import pandas as pd
df = pd.read_csv('car_data.csv')
diesel_above_20000_df = df[(df['fuel_type'] == 'Diesel') & (df['price'] > 20000)]
print(diesel_above_20000_df)

Question: Display the number of cars in the "car_data.csv" dataset grouped by drive wheels and transmission type.

import pandas as pd
df = pd.read_csv('car_data.csv')
grouped_df = df.groupby(by=['drive_wheels', 'transmission'])
print(grouped_df['car_id'].count())

In [ ]:
Question: What is the average arrival delay for flights in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('flightdata.csv')
average_arrival_delay = df['ArrDelay'].mean()
print(average_arrival_delay)

Question: What is the correlation between departure delay and arrival delay?
Solution:

corr = df[['DepDelay', 'ArrDelay']].corr()
print(corr)

Question: What is the percentage of flights that were delayed more than 15 minutes?
Solution:

delayed_flights = df[df['ArrDelay'] > 15]
total_flights = len(df)
percentage_delayed = len(delayed_flights) / total_flights * 100
print(percentage_delayed)

Question: What is the most common cause of flight cancellation?
Solution:

cancelled_flights = df[df['Cancelled'] == 1]
cancellation_reasons = cancelled_flights['CancellationCode'].value_counts()
most_common_reason = cancellation_reasons.idxmax()
print(most_common_reason)

Question: How many flights were operated by each airline in the dataset?
Solution:

airline_counts = df['UniqueCarrier'].value_counts()
print(airline_counts)

Question: What is the average distance flown by flights in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('flightdata.csv')
average_distance = df['Distance'].mean()
print(average_distance)

Question: What is the busiest hour of the day for flights in the dataset?
Solution:

df['DepTime'] = df['DepTime'].apply(lambda x: str(x).zfill(4))
df['DepHour'] = df['DepTime'].apply(lambda x: x[:2])
busiest_hour = df['DepHour'].value_counts().idxmax()
print(busiest_hour)

Question: What is the average flight time for flights in the dataset?
Solution:

df['FlightTime'] = df['AirTime'] + df['TaxiIn'] + df['TaxiOut']
average_flight_time = df['FlightTime'].mean()
print(average_flight_time)

Question: What is the average delay for flights departing from each airport in the dataset?
Solution:

average_delays = df.groupby('Origin')['DepDelay'].mean()
print(average_delays)

Question: What is the average delay for flights by day of the week in the dataset?
Solution:

df['DayOfWeek'] = pd.to_datetime(df['FlightDate']).dt.dayofweek
average_delays = df.groupby('DayOfWeek')['DepDelay'].mean()
print(average_delays)

In [ ]:
Question: What is the average nightly rate for hotels in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('hoteldata.csv')
average_nightly_rate = df['nightly_rate'].mean()
print(average_nightly_rate)

Question: How many hotels have more than 100 rooms in the dataset?
Solution:

hotels_over_100_rooms = df[df['number_of_rooms'] > 100]
num_hotels = len(hotels_over_100_rooms)
print(num_hotels)

Question: What is the most common hotel star rating in the dataset?
Solution:

star_ratings = df['star_rating'].value_counts()
most_common_rating = star_ratings.idxmax()
print(most_common_rating)

Question: What is the average number of reviews for hotels in the dataset?
Solution:

average_reviews = df['number_of_reviews'].mean()
print(average_reviews)

Question: What is the average nightly rate for hotels in each city in the dataset?
Solution:

average_nightly_rate_by_city = df.groupby('city')['nightly_rate'].mean()
print(average_nightly_rate_by_city)

In [ ]:
Question: What is the total number of confirmed cases in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('covid_data.csv')
total_cases = df['confirmed_cases'].sum()
print(total_cases)

Question: How many countries have reported more than 50,000 deaths?
Solution:

countries_over_50000_deaths = df[df['deaths'] > 50000]
num_countries = len(countries_over_50000_deaths)
print(num_countries)

Question: What is the average daily increase in confirmed cases for each month in the dataset?
Solution:

df['month'] = pd.to_datetime(df['date']).dt.month
average_daily_increase = df.groupby('month')['daily_confirmed_cases'].mean()
print(average_daily_increase)

Question: What is the highest number of confirmed cases reported on a single day in the dataset?
Solution:

highest_daily_cases = df['daily_confirmed_cases'].max()
print(highest_daily_cases)

Question: What is the highest number of confirmed cases reported in a single country?
Solution:

highest_cases_by_country = df.groupby('country')['confirmed_cases'].max()
print(highest_cases_by_country)

In [ ]:
Question: What is the average delay time for trains in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('traindata.csv')
average_delay = df['delay_time'].mean()
print(average_delay)

Question: How many trains were delayed more than 30 minutes?
Solution:

delayed_trains = df[df['delay_time'] > 30]
num_delayed_trains = len(delayed_trains)
print(num_delayed_trains)

Question: What is the most common reason for train delays in the dataset?
Solution:

delay_reasons = df['delay_reason'].value_counts()
most_common_reason = delay_reasons.idxmax()
print(most_common_reason)

Question: What is the average number of passengers on trains in the dataset?
Solution:

average_passengers = df['num_passengers'].mean()
print(average_passengers)

Question: What is the average delay time for trains by route in the dataset?
Solution:

average_delay_by_route = df.groupby('route')['delay_time'].mean()
print(average_delay_by_route)

In [ ]:
Question: What is the average runs scored by players in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('cricketdata.csv')
average_runs = df['runs_scored'].mean()
print(average_runs)

Question: How many players have a batting average greater than 50?
Solution:

high_average_players = df[df['batting_average'] > 50]
num_players = len(high_average_players)
print(num_players)

Question: What is the most common batting position among players in the dataset?
Solution:

batting_positions = df['batting_position'].value_counts()
most_common_position = batting_positions.idxmax()
print(most_common_position)

Question: What is the average number of wickets taken by bowlers in the dataset?
Solution:

average_wickets = df['wickets_taken'].mean()
print(average_wickets)

Question: What is the average number of runs conceded by bowlers in each team in the dataset?
Solution:

average_runs_conceded_by_team = df.groupby('team')['runs_conceded'].mean()
print(average_runs_conceded_by_team)

Question: What is the total number of centuries scored by players in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('cricketdata.csv')
centuries_scored = df[df['runs_scored'] >= 100].count()
print(centuries_scored)

Question: How many players have scored more than 1000 runs in the dataset?
Solution:

players_over_1000_runs = df[df['runs_scored'] > 1000]
num_players = len(players_over_1000_runs)
print(num_players)

Question: What is the maximum number of wickets taken by bowlers in a match in the dataset?
Solution:

max_wickets_taken = df['wickets_taken'].max()
print(max_wickets_taken)

Question: What is the average number of runs scored by batsmen in each format of the game?
Solution:

average_runs_by_format = df.groupby('format')['runs_scored'].mean()
print(average_runs_by_format)

Question: What is the average strike rate for players in the dataset?
Solution:

average_strike_rate = df['strike_rate'].mean()
print(average_strike_rate)

In [ ]:
Question: What is the average GDP per capita of countries in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('countrydata.csv')
average_gdp = df['gdp_per_capita'].mean()
print(average_gdp)

Question: How many countries have a population greater than 100 million?
Solution:

countries_over_100m = df[df['population'] > 100000000]
num_countries = len(countries_over_100m)
print(num_countries)

Question: What is the most common form of government among countries in the dataset?
Solution:

government_types = df['government_type'].value_counts()
most_common_type = government_types.idxmax()
print(most_common_type)

Question: What is the average infant mortality rate for countries in the dataset?
Solution:

average_infant_mortality = df['infant_mortality_rate'].mean()
print(average_infant_mortality)

Question: What is the average life expectancy of countries in the dataset?
Solution:

average_life_expectancy = df['life_expectancy'].mean()
print(average_life_expectancy)

Question: How many countries have a literacy rate greater than 90%?
Solution:

countries_over_90_literacy = df[df['literacy_rate'] > 90]
num_countries = len(countries_over_90_literacy)
print(num_countries)

Question: What is the average GDP per capita for countries in each region of the world?
Solution:

average_gdp_by_region = df.groupby('region')['gdp_per_capita'].mean()
print(average_gdp_by_region)

Question: What is the highest GDP per capita among countries in the dataset?
Solution:

highest_gdp = df['gdp_per_capita'].max()
print(highest_gdp)

Question: What is the average population density for countries in the dataset?
Solution:

average_population_density = df['population_density'].mean()
print(average_population_density)

In [ ]:
Question: What is the average number of searches per day in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('googlesearchdata.csv')
average_searches = df['number_of_searches'].mean()
print(average_searches)

Question: How many days had more than 100,000 searches in the dataset?
Solution:

days_over_100k = df[df['number_of_searches'] > 100000]
num_days = len(days_over_100k)
print(num_days)

Question: What is the most searched for keyword in the dataset?
Solution:

keyword_counts = df['keyword'].value_counts()
most_searched_keyword = keyword_counts.idxmax()
print(most_searched_keyword)

Question: What is the average number of searches per day for each device type in the dataset?
Solution:

average_searches_per_device = df.groupby('device_type')['number_of_searches'].mean()
print(average_searches_per_device)

Question: What is the total number of searches in the dataset?
Solution:

total_searches = df['number_of_searches'].sum()
print(total_searches)
Question: How many unique keywords were searched in the dataset?
Solution:

unique_keywords = df['keyword'].nunique()
print(unique_keywords)

Question: What is the most searched keyword per day in the dataset?
Solution:

most_searched_keyword_per_day = df.groupby(['date'])['keyword'].agg(lambda x:x.value_counts().idxmax())
print(most_searched_keyword_per_day)

Question: What is the average number of searches per day for each country in the dataset?
Solution:

average_searches_per_country = df.groupby('country')['number_of_searches'].mean()
print(average_searches_per_country)

In [ ]:
Question: What is the average price of candies in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('candiesdata.csv')
average_price = df['price'].mean()
print(average_price)

Question: How many candies have more than 50% sugar content?
Solution:

high_sugar_candies = df[df['sugar_content'] > 50]
num_candies = len(high_sugar_candies)
print(num_candies)

Question: What is the most common type of candy in the dataset?
Solution:

candy_types = df['type'].value_counts()
most_common_type = candy_types.idxmax()
print(most_common_type)

Question: What is the average weight of candies in the dataset?
Solution:

average_weight = df['weight'].mean()
print(average_weight)

Question: What is the average price of candies by type in the dataset?
Solution:

average_price_by_type = df.groupby('type')['price'].mean()
print(average_price_by_type)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Read in the datasets
athletes = pd.read_csv('athletes.csv')
regions = pd.read_csv('regions.csv')

# Merge the datasets on the 'region' column
merged_df = pd.merge(athletes, regions, on='region')

# Distribution of age of gold medallists
gold_medalists = merged_df[merged_df['medal'] == 'gold']
plt.hist(gold_medalists['age'])
plt.xlabel('Age')
plt.ylabel('Number of Athletes')
plt.title('Distribution of Age of Gold Medallists')
plt.show()

# Number of athletes who are gold medallists and whose age is greater than 50
gold_medalists_over_50 = gold_medalists[gold_medalists['age'] > 50]
print(f'Number of Athletes over 50 with gold medals: {len(gold_medalists_over_50)}')
print(gold_medalists_over_50)

# Women who can play in summer
women_summer_athletes = merged_df[(merged_df['gender'] == 'female') & (merged_df['season'] == 'summer')]
print(f'Number of women athletes who can play in the summer: {len(women_summer_athletes)}')
print(women_summer_athletes)

# Top 5 countries who won the most medals
medal_counts = merged_df['country'].value_counts()
top_5_countries = medal_counts.head(5)

# Plot the top 5 countries
top_5_countries.plot(kind='bar')
plt.xlabel('Country')
plt.ylabel('Number of Medals')
plt.title('Top 5 Countries with the Most Medals')
plt.show()

In [ ]:
Question: What is the average price of the medicines in the dataset?
Solution:

import pandas as pd
df = pd.read_csv('pharmacydata.csv')
average_price = df['price'].mean()
print(average_price)

Question: How many medicines are prescribed for diabetes?
Solution:

diabetes_medicines = df[df['disease'] == 'diabetes']
num_medicines = len(diabetes_medicines)
print(num_medicines)

Question: What is the most prescribed medicine in the dataset?
Solution:

medicine_prescription = df['medicine_name'].value_counts()
most_prescribed_medicine = medicine_prescription.idxmax()
print(most_prescribed_medicine)

Question: What is the average price of the medicines prescribed by each doctor in the dataset?
Solution:

average_price_by_doctor = df.groupby('prescribing_doctor')['price'].mean()
print(average_price_by_doctor)

Question: What is the average price of the medicines prescribed for each disease in the dataset?
Solution:

average_price_by_disease = df.groupby('disease')['price'].mean()
print(average_price_by_disease)

Question: What is the total cost of all medicines in the dataset?
Solution:

total_cost = df['price'].sum()
print(total_cost)

Question: How many unique medicines are in the dataset?
Solution:

unique_medicines = df['medicine_name'].nunique()
print(unique_medicines)

Question: What is the most prescribed medicine per disease in the dataset?
Solution:

most_prescribed_medicine_per_disease = df.groupby(['disease'])['medicine_name'].agg(lambda x:x.value_counts().idxmax())
print(most_prescribed_medicine_per_disease)

Question: What is the most prescribed medicine per doctor in the dataset?
Solution:

most_prescribed_medicine_per_doctor = df.groupby(['prescribing_doctor'])['medicine_name'].agg(lambda x:x.value_counts().idxmax())
print(most_prescribed_medicine_per_doctor)

Question: What is the average price of medicines per manufacturer in the dataset?

Solution:

average_price_per_manufacturer = df.groupby('manufacturer')['price'].mean()
print(average_price_per_manufacturer)

In [360]:
n = 6
char = ord('A')
for i in range(1, n + 1):
    for j in range(i):
        print(chr(char), end = " ")
        char += 1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

char = 65 so chr(char) will return 'A'

In [362]:
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)
result = []

for a,b in zip(tuple1,tuple2):
    result.append(a//b)

result = tuple(result)
print(result)

(2, 2, 2, 3)

In [364]:
glstring = 'great'

def count_not_in_glstring(string, glstring):
    if string == "":
        return 0
    else:
        if string[0] != " " and string[0] not in glstring:
            return 1 + count_not_in_glstring(string[1:], glstring)
        else:
            return count_not_in_glstring(string[1:], glstring)

user_string = input("Enter a string: ")
result = count_not_in_glstring(user_string, glstring)
print(result)

Enter a string: hello world
8

In [ ]:
How many rows and columns are in the dataset?

import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df.shape)
Output: (852, 6)

What are the names of the columns in the dataset?

import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df.columns)

What is the minimum value of the 'Killed' column?

import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df['Killed'].min())


What is the average number of people killed per attack?

import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df['Killed'].mean())


How many attacks took place in the city of Quetta?

import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df[df['City'] == 'Quetta'].shape[0])


6. What is the maximum number of people killed in a single attack?
import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df['Killed'].max())




7. How many attacks took place in the province of Balochistan?
import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df[df['Province'] == 'Balochistan'].shape[0])



8. What is the total number of people killed in all the attacks?
import pandas as pd
df = pd.read_csv("pakistan_suicide_attacks.csv")
print(df['Killed'].sum())


How many rows and columns are in the dataset?

import pandas as pd
df = pd.read_csv("clothing_sales.csv")
print(df.shape)


What are the names of the columns in the dataset?

import pandas as pd
df = pd.read_csv("clothing_sales.csv")
print(df.columns)

What is the minimum value of the 'Price' column?

import pandas as pd
df = pd.read_csv("clothing_sales.csv")
print(df['Price'].min())


What is the average Quantity Sold of all the clothes?

import pandas as pd
df = pd.read_csv("clothing_sales.csv")
print(df['Quantity Sold'].mean())


How many clothes of color 'Black' are there?

import pandas as pd
df = pd.read_csv("clothing_sales.csv")
print(df[df['Color'] == 'Black'].shape[0])




6. What is the maximum price of all clothes?
import pandas as pd
df = pd.read_csv("clothing_sales.csv")
print(df['Price'].max())



7. How many clothes of size 'L' are there?
import pandas as pd
df = pd.read_csv("clothing_sales.csv")
print(df[df['Size'] == 'L'].shape[0])



8. What is the total revenue generated by the sales of all the clothes?
import pandas as pd
df = pd.read_csv("clothing_sales.csv")
df["Revenue"] = df["Price"]*df["Quantity Sold"]
print(df["Revenue"].sum())

In [ ]:
How can I read in a CSV file of a vehicles dataset as a Pandas DataFrame?

import pandas as pd

df = pd.read_csv('vehicles.csv')

How can I see the first 5 rows of the DataFrame?

df.head()

How can I select all rows where the 'year' column is greater than 2010?

new_df = df[df['year'] > 2010]

How can I group rows by the 'make' column and calculate the mean 'price' of each group?

grouped_df = df.groupby('make').mean()['price']
How can I find the number of unique values in the 'model' column?


number_of_unique_models = df['model'].nunique()
How can I find the most common value in the 'drive' column?

most_common_drive = df['drive'].mode()

How can I drop all rows where the 'cylinders' column is missing?

df.dropna(subset=['cylinders'], inplace=True)

How can I rename the column 'year' to 'production_year'?

df.rename(columns={'year':'production_year'}, inplace=True)

In [ ]:
What is the average alcohol content of the wines in the dataset?

import pandas as pd

# load the dataset
data = pd.read_csv('winequality-red.csv')

# calculate the average alcohol content
average_alcohol = data['alcohol'].mean()

print(average_alcohol)

How many wines in the dataset have a quality rating of 7 or higher?

# count the number of wines with a quality rating of 7 or higher
good_wines = data[data['quality'] >= 7].shape[0]

print(good_wines)


What is the maximum value for pH in the dataset?

# find the maximum pH
max_pH = data['pH'].max()

print(max_pH)


Create a scatter plot of alcohol content vs. pH for the wines in the dataset

import matplotlib.pyplot as plt

# create scatter plot
plt.scatter(data['alcohol'], data['pH'])

# add axis labels
plt.xlabel('Alcohol')
plt.ylabel('pH')

# show the plot
plt.show()



What is the average residual sugar content of the wines in the dataset?

average_residual_sugar = data['residual_sugar'].mean()

print(average_residual_sugar)


How many wines in the dataset have a citric acid content greater than 0.5?

wines_with_high_citric_acid = data[data['citric_acid'] > 0.5].shape[0]

print(wines_with_high_citric_acid)


What is the correlation coefficient between fixed acidity and pH for the wines in the dataset?

correlation = data['fixed_acidity'].corr(data['pH'])

print(correlation)


Create a box plot of quality ratings for the wines in the dataset

# create box plot
data.boxplot(column='quality')

# show the plot
plt.show()


Create a bar chart of the number of wines in the dataset for each quality rating

# count the number of wines for each quality rating
quality_counts = data['quality'].value_counts()

# create bar chart
quality_counts.plot(kind='bar')

# show the plot
plt.show()

Create a histogram of the alcohol content for the wines in the dataset

# create histogram
data['alcohol'].hist()

# add axis labels
plt.xlabel('Alcohol')
plt.ylabel('Frequency')

# show the plot
plt.show()

In [ ]:
What is the average closing price of the stocks in the dataset?

import pandas as pd

# load the dataset
data = pd.read_csv('stock_market_data.csv')

# calculate the average closing price
average_closing_price = data['close'].mean()

print(average_closing_price)
How many stocks in the dataset have a volume greater than 100,000?

# count the number of stocks with a volume greater than 100,000
high_volume_stocks = data[data['volume'] > 100000].shape[0]

print(high_volume_stocks)
What is the maximum value for the opening price in the dataset?

# find the maximum opening price
max_opening_price = data['open'].max()

print(max_opening_price)
Create a line chart of the closing price for the stocks in the dataset

import matplotlib.pyplot as plt

# create line chart
plt.plot(data['date'], data['close'])

# add axis labels
plt.xlabel('Date')
plt.ylabel('Closing Price')

# show the plot
plt.show()
What is the correlation coefficient between the volume and closing price for the stocks in the dataset?

correlation = data['volume'].corr(data['close'])

print(correlation)
Create a histogram of the closing price for the stocks in the dataset

# create histogram
data['close'].hist()

# add axis labels
plt.xlabel('Closing Price')
plt.ylabel('Frequency')

# show the plot
plt.show()
Create a scatter plot of the volume and closing price for the stocks in the dataset

# create scatter plot
plt.scatter(data['volume'], data['close'])

# add axis labels
plt.xlabel('Volume')
plt.ylabel('Closing Price')

# show the plot
plt.show()
Create a bar chart of the average closing price for the stocks in the dataset grouped by their sector

# group the stocks by sector and calculate the average closing price
sector_groups = data.groupby(['sector'])['close'].mean()

# create bar chart
sector_groups.plot(kind='bar')

# show the plot
plt.show()

In [ ]:
Boston Housing dataset
Adult Income dataset
Pima Indians Diabetes dataset
California Housing dataset
Credit Card Fraud Detection dataset
ImageNet dataset
CIFAR-10 dataset
MNIST dataset
Twitter Sentiment Analysis dataset
Global Terrorism dataset.
IMDB movie dataset
Yelp review dataset
Twitter US Airline Sentiment dataset
Google Play Store Apps dataset
New York City Taxi Fare dataset
Human Activity Recognition dataset
NBA Player statistics dataset
Sales Transactions Time Series dataset
Stack Overflow survey dataset
COVID-19 Open Research Dataset (CORD-19)
Pokemon dataset
Video Game Sales dataset
Air Quality dataset
World Bank Development Indicators dataset
Breast Cancer Wisconsin (Diagnostic) dataset
Bike Sharing Demand dataset
Forest Fires dataset
Heart Disease dataset
Human Resources Analytics dataset
Stock Market dataset

In [ ]:

import pandas as pd

# load the dataset
data = pd.read_csv('Boston_Housing.csv')

# calculate the average number of rooms per dwelling
average_rooms = data['RM'].mean()

print(average_rooms)
How many houses in the dataset have a value of more than $40,000?

# count the number of houses with a value greater than $40,000
expensive_houses = data[data['MEDV'] > 40].shape[0]

print(expensive_houses)
What is the minimum value for the "LSTAT" (percentage of lower status of the population) in the dataset?

# find the minimum LSTAT
min_LSTAT = data['LSTAT'].min()

print(min_LSTAT)
Create a scatter plot of "RM" (number of rooms) vs "MEDV" (median value of owner-occupied homes) for 
the houses in the dataset

import matplotlib.pyplot as plt

# create scatter plot
plt.scatter(data['RM'], data['MEDV'])

# add axis labels
plt.xlabel('Number of Rooms')
plt.ylabel('Median Value of Homes')

# show the plot
plt.show()
What is the correlation coefficient between "RM" and "MEDV" for the houses in the dataset?

correlation = data['RM'].corr(data['MEDV'])

print(correlation)

Create a histogram of the median value of owner-occupied homes in the dataset

# create histogram
data['MEDV'].hist()

# add axis labels
plt.xlabel('Median Value of Homes')
plt.ylabel('Frequency')

# show the plot
plt.show()

Create a bar chart of the average median value of owner-occupied homes in the dataset grouped by
the "CHAS" variable (Charles River dummy variable)

# group the houses by CHAS and calculate the average median value
chas_groups = data.groupby(['CHAS'])['MEDV'].mean()

# create bar chart
chas_groups.plot(kind='bar')

# show the plot
plt.show()

In [ ]:
What is the average age of adults in the dataset?

import pandas as pd

# load the dataset
data = pd.read_csv('adult_income.csv')

# calculate the average age
average_age = data['age'].mean()

print(average_age)

How many adults in the dataset have a graduate degree?

# count the number of adults with a graduate degree
grad_degree = data[data['education'] == 'Graduate Degree'].shape[0]

print(grad_degree)

What is the maximum value for the capital gain in the dataset?

# find the maximum capital gain
max_capital_gain = data['capital_gain'].max()

print(max_capital_gain)

Create a bar chart of the number of adults in the dataset for each marital status

# count the number of adults for each marital status
marital_status_counts = data['marital_status'].value_counts()

# create bar chart
marital_status_counts.plot(kind='bar')

# show the plot
plt.show()

What is the correlation coefficient between education level and hours per week worked for the adults in the dataset?

correlation = data['hours_per_week'].corr(data['education_num'])

print(correlation)
Create a histogram of the capital gain for the adults in the dataset

# create histogram
data['capital_gain'].hist()

# add axis labels
plt.xlabel('Capital Gain')
plt.ylabel('Frequency')

# show the plot
plt.show()

Create a box plot of income for the adults in the dataset grouped by their occupation

# create box plot
data.boxplot(column='income', by='occupation')

# show the plot
plt.show()

How many adults in the dataset have a graduate degree and work more than 40 hours per week?

grad_degree_and_overtime = data[(data['education'] == 'Graduate Degree') & (data['hours_per_week'] > 40)].shape[0]

print(grad_degree_and_overtime)

What is the average income of adults in the dataset who have never been married and 
have a capital gain of more than $5,000?

average_income = data[(data['marital_status'] == 'Never-married') & (data['capital_gain'] > 5000)]['income'].mean()

print(average_income)

Create a stacked bar chart of the number of adults in the dataset for each combination of education level and occupation

# group the adults by education level and occupation and count them
edu_occupation_groups = data.groupby(['education', 'occupation']).size().reset_index(name='counts')

# create stacked bar chart
edu_occupation_groups.pivot(index='education', columns='occupation', values='counts').plot(kind='bar', stacked=True)

# show the plot
plt.show()

Create a line chart of the average income for the adults in the dataset grouped by their age

# group the adults by age and calculate the average income
age_groups = data.groupby(['age'])['income'].mean()

# create line chart
age_groups.plot()

# add axis labels
plt.xlabel('Age')
plt.ylabel('Average Income')

# show the plot
plt.show()

What is the percentage of adults in the dataset that have a private workclass and an income greater than $50,000?

private_workclass_and_high_income = data[(data['workclass'] == 'Private') & (data['income'] == '>50K')].shape[0]
total_adults = data.shape[0]
percentage = private_workclass_and_high_income/total_adults*100

print(percentage)

In [ ]:
How many adults in the dataset have a graduate degree and work more than 40 hours per week?

grad_degree_and_overtime = data[(data['education'] == 'Graduate Degree') & (data['hours_per_week'] > 40)].shape[0]

print(grad_degree_and_overtime)

What is the average income of adults in the dataset who have never been married and have a capital gain of more than $5,000?

average_income = data[(data['marital_status'] == 'Never-married') & (data['capital_gain'] > 5000)]['income'].mean()

print(average_income)

Create a stacked bar chart of the number of adults in the dataset for each combination of education level and occupation

# group the adults by education level and occupation and count them
edu_occupation_groups = data.groupby(['education', 'occupation']).size().reset_index(name='counts')

# create stacked bar chart
edu_occupation_groups.pivot(index='education', columns='occupation', values='counts').plot(kind='bar', stacked=True)

# show the plot
plt.show()

Create a line chart of the average income for the adults in the dataset grouped by their age

# group the adults by age and calculate the average income
age_groups = data.groupby(['age'])['income'].mean()

# create line chart
age_groups.plot()

# add axis labels
plt.xlabel('Age')
plt.ylabel('Average Income')

# show the plot
plt.show()

What is the percentage of adults in the dataset that have a private workclass and an income greater than $50,000?

private_workclass_and_high_income = data[(data['workclass'] == 'Private') & (data['income'] == '>50K')].shape[0]
total_adults = data.shape[0]
percentage = private_workclass_and_high_income/total_adults*100

print(percentage)

In [ ]:
What is the average closing price of the stocks in the dataset for the month of January?

import pandas as pd

# load the dataset
data = pd.read_csv('stock_market_data.csv')

# convert date column to datetime
data['date'] = pd.to_datetime(data['date'])

# filter for only January data
january_data = data[data['date'].dt.month == 1]

# calculate the average closing price
average_closing_price = january_data['close'].mean()

print(average_closing_price)

How many days in the dataset had a stock volume greater than 1,000,000?

# count the number of days with a volume greater than 1,000,000
high_volume_days = data[data['volume'] > 1000000].shape[0]

print(high_volume_days)

Create a line chart of the closing price for the stocks in the dataset, with a separate line for each year

import matplotlib.pyplot as plt

# group data by year
year_groups = data.groupby(data['date'].dt.year)

# plot closing price for each year
for name, group in year_groups:
    plt.plot(group['date'], group['close'], label=name)

# add axis labels

What is the average daily return for the stocks in the dataset, for each month of the year?

# create a new column for daily return
data['daily_return'] = data['close'].pct_change()

# group data by month and year, and calculate average daily return
monthly_return = data.groupby([data['date'].dt.year, data['date'].dt.month])['daily_return'].mean()

print(monthly_return)

Create a heatmap of the correlation coefficients between all pairs of stock closing prices in the dataset

import seaborn as sns

# create correlation matrix
corr_matrix = data.drop(['date', 'volume'], axis=1).corr()

# create heatmap
sns.heatmap(corr_matrix, annot=True)

# show the plot
plt.show()

Create a scatter plot matrix of the stock closing price, volume, and daily return for the stocks in the dataset

import seaborn as sns

# create scatter plot matrix
sns.pairplot(data, vars=['close', 'volume', 'daily_return'])

# show the plot
plt.show()

What is the average closing price for the stocks in the dataset, for each industry sector?

# group data by sector, and calculate average closing price
sector_average = data.groupby(['sector'])['close'].mean()

print(sector_average)

Create a bar chart of the top 10 stocks by volume in the dataset

# group data by stock and calculate total volume
stock_volume = data.groupby(['stock'])['volume'].sum().sort_values(ascending=False)

get the top 10 stocks by volume
top_10_stocks = stock_volume.head(10)

create bar chart
top_10_stocks.plot(kind='bar')

add axis labels
plt.xlabel('Stock')
plt.ylabel('Total Volume')

show the plot
plt.show()



15. Create a line chart of the rolling average of the closing price for the stocks in the dataset, 
with a window size of 30 days

# create a rolling average of closing price with a window size of 30 days
rolling_average = data['close'].rolling(window=30).mean()

# create line chart
plt.plot(data['date'], rolling_average)

# add axis labels
plt.xlabel('Date')
plt.ylabel('Rolling Average Closing Price (30 days)')

# show the plot
plt.show()

In [ ]:
What is the average cholesterol level of patients in the dataset?

import pandas as pd

# load the dataset
data = pd.read_csv('heart_disease.csv')

# calculate the average cholesterol level
average_cholesterol = data['cholesterol'].mean()

print(average_cholesterol)

How many patients in the dataset have a blood pressure greater than 140/90?

# count the number of patients with a blood pressure greater than 140/90
high_bp = data[(data['sysBP'] > 140) & (data['diaBP'] > 90)].shape[0]

print(high_bp)

What is the maximum value for the age in the dataset?

# find the maximum age
max_age = data['age'].max()

print(max_age)

Create a scatter plot of cholesterol vs. age for the patients in the dataset

import matplotlib.pyplot as plt

# create scatter plot
plt.scatter(data['cholesterol'], data['age'])

# add axis labels
plt.xlabel('Cholesterol')
plt.ylabel('Age')

# show the plot
plt.show()

What is the correlation coefficient between heart rate and cholesterol level for the patients in the dataset?

correlation = data['heartRate'].corr(data['cholesterol'])

print(correlation)

Create a histogram of the glucose level for the patients in the dataset
Copy code
# create histogram
data['glucose'].hist()

# add axis labels
plt.xlabel('Glucose')
plt.ylabel('Frequency')

# show the plot
plt.show()

Create a box plot of heart rate for the patients in the dataset grouped by their sex

# create box plot
data.boxplot(column='heartRate', by='sex')

# show the plot
plt.show()

How many patients in the dataset have a BMI greater than 30 and a history of smoking?

obese_smokers = data[(data['BMI'] > 30) & (data['smoker'] == 1)].shape[0]

print(obese_smokers)

What is the average cholesterol level of patients in the dataset who have no history of heart disease?

average_chol = data[data['heartDisease'] == 0]['cholesterol'].mean()

print(average_chol)

Create a stacked bar chart of the number of patients in the dataset for each combination of sex and heart disease status

# group the patients by sex and heart disease status and count them
sex_disease_groups = data.groupby(['sex','heartDisease']).size().reset_index(name='counts')

create stacked bar chart
sex_disease_groups.pivot(index='sex', columns='heartDisease', values='counts').plot(kind='bar', stacked=True)

show the plot
plt.show()



11. Create a line chart of the average cholesterol level for the patients in the dataset grouped by their age

# group the patients by age and calculate the average cholesterol level
age_groups = data.groupby(['age'])['cholesterol'].mean()

# create line chart
age_groups.plot()

# add axis labels
plt.xlabel('Age')
plt.ylabel('Average Cholesterol')

# show the plot
plt.show()

What is the percentage of patients in the dataset that have a history of heart disease and smoke?

smoker_and_heart_disease = data[(data['smoker'] == 1) & (data['heartDisease'] == 1)].shape[0]
total_patients = data.shape[0]
percentage = smoker_and_heart_disease/total_patients*100

print(percentage)

How many patients in the dataset have a systolic blood pressure greater than 140 and a history of heart disease?

sys_bp_heart_disease = data[(data['sysBP'] > 140) & (data['heartDisease'] == 1)].shape[0]

print(sys_bp_heart_disease)

What is the average heart rate of patients in the dataset who have a history of heart disease and are older than 50?

average_heart_rate = data[(data['heartDisease'] == 1) & (data['age'] > 50)]['heartRate'].mean()

print(average_heart_rate)

Create a scatter plot of systolic blood pressure vs. age for the patients in the dataset with a history of heart disease

heart_disease_data = data[data['heartDisease'] == 1]
plt.scatter(heart_disease_data['sysBP'], heart_disease_data['age'])
plt.xlabel('Systolic Blood Pressure')
plt.ylabel('Age')
plt.show()

What is the correlation coefficient between cholesterol and glucose level for the patients in 
the dataset with a history of heart disease?

heart_disease_data = data[data['heartDisease'] == 1]
correlation = heart_disease_data['cholesterol'].corr(heart_disease_data['glucose'])

print(correlation)

17. Create a box plot of glucose levels for the patients in the dataset grouped by their sex and heart disease status

data.boxplot(column='glucose', by=['sex', 'heartDisease'])
plt.show()

How many patients in the dataset have a BMI greater than 30 and a history of heart disease?

obese_heart_disease = data[(data['BMI'] > 30) & (data['heartDisease'] == 1)].shape[0]

print(obese_heart_disease)

What is the average systolic blood pressure of patients in the dataset who have no history 
of heart disease and are non-smokers?

average_sysBP = data[(data['heartDisease'] == 0) & (data['smoker'] == 0)]['sysBP'].mean()

print(average_sysBP)

Create a line chart of the rolling average of the heart rate for the patients in
the dataset with a history of heart disease, with a window size of 7 days

heart_disease_data = data[data['heartDisease'] == 1]
rolling_average = heart_disease_data['heartRate'].rolling(window=7).mean()
plt.plot(heart_disease_data['date'], rolling_average)
plt.xlabel('Date')
plt.ylabel('Rolling Average Heart Rate (7 days)')
plt.show()

# pivot_table & cross_tab

In [ ]:
What is the average cholesterol level of patients in the dataset grouped by their sex?

# create pivot table
pivot_table = data.pivot_table(values='cholesterol', index='sex', aggfunc='mean')

print(pivot_table)

How many patients in the dataset have a history of heart disease for each combination of sex and smoker status?

# create cross tab
cross_tab = pd.crosstab(index=data['sex'], columns=[data['heartDisease'], data['smoker']], margins=True)

print(cross_tab)

What is the average systolic blood pressure of patients in the dataset grouped by their age and heart disease status?

# create pivot table
pivot_table = data.pivot_table(values='sysBP', index='age', columns='heartDisease', aggfunc='mean')

print(pivot_table)

How many patients in the dataset have a BMI greater than 30 for each combination of sex and smoker status?

# create cross tab
cross_tab = pd.crosstab(index=data['sex'], columns=[data['BMI'] > 30, data['smoker']], margins=True)

print(cross_tab)

What is the average heart rate of patients in the dataset grouped by their age and cholesterol level?

# create pivot table
pivot_table = data.pivot_table(values='heartRate', index='age', columns='cholesterol', aggfunc='mean')

print(pivot_table)

# agg() function

In [ ]:
import pandas as pd

# load the dataset
data = pd.read_csv('heart_disease.csv')

# apply multiple aggregation operations at once
agg_data = data.groupby('sex').agg({'cholesterol': ['mean', 'min', 'max'], 'sysBP': 'median'})

print(agg_data)